.sidenav .homeicon p {
    background: rgba(73,115,193,0.6);
}

.hcontainer {
    height: 90%;
    width: 85%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.floating {
    width: 80%;
    position: absolute;
    bottom: 46%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 0 0 40px;
    color: whitesmoke;
    font-size: 18px;
    z-index: 0;
    opacity: 0;
    -webkit-animation: appear 3s 2s 1 forwards;
    animation: appear 3s 2s 1 forwards;
}

.smallbiocontainer {
    width: 80%;
    position: absolute;
    bottom: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 0.5s;
}

.smallbio {
    color: whitesmoke;
    overflow: hidden;
    /*box-shadow: inset 0 0 20px black;*/
}

.smallbio p {
    position: relative;
    top: 120px;
    animation: scrollup 5s 6s 1 forwards;
}

.smallbio a {
    color: orange;
}

.expandicard {
    height: 32%;
    width: 30%;
    border-radius: 10px;
    margin: 30px 0 0 0;
    padding: 10px 0 0 0;
    background: whitesmoke;
    transition: height 0.4s, box-shadow 0.5s;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    z-index: 1;
}

.expandicard i {
    -webkit-transition: font-size .3s;
    transition: font-size .3s;
}

.expandicard .slidinginfo {
    position: relative;
    visibility: hidden;
    top: -50%;
    opacity: 0;
}

.title {
    width: 80%;
    color: cornflowerblue;
    border-top: 2px solid cornflowerblue;
    font-size: 20px;
    text-align: center;
    margin: 20px 0 0 0;
    padding: 20px 0;
}

.slidinginfo {
    width: 80%;
    color: cornflowerblue;
    margin: 20px 0 0 0;
}

.slidinginfo i {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.slidinginfo a {
    color: cornflowerblue;
    text-decoration: none;
}

.slidinginfo a:hover {
    color: orange;
}

.expandicard:hover {
    height: 95%;
    transition: height 0.4s ease, box-shadow 0.5s ease;
    box-shadow: 0 4px 4px 2px rgba(25,25,25,0.6);
}

.expandicard:hover i {
    font-size: 24px;
}

.expandicard:hover .title {
    border-bottom: 2px solid cornflowerblue;
}

.expandicard:hover .slidinginfo {
    -webkit-transition: top 0.5s ease, opacity 1s ease;
    transition: top 0.5s ease, opacity 1s ease;
    visibility: visible;
    top: 1%;
    opacity: 1;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scrollup {
    from {top: 120px;}
    to {top: 0px;}
}

@media all and (max-width: 600px) {
    section { overflow: auto; }
    .hcontainer { width: 100%; height: 640px; margin: 200px 0 0 0; flex-flow: column; justify-content: flex-start; align-items: center; }
    .expandicard { width: 360px; height: 900px; }
    .expandicard .slidinginfo { top: 0; visibility: visible; opacity: 1; }
    /*.expandicard { width: 360px; height: 600px; margin: 5px auto; }
    .expandicard .title { border-bottom: 2px solid cornflowerblue; }
    .expandicard .slidinginfo { top: 0; visibility: visible; opacity: 1; }
    .expandicard:hover { height: 600px; }
    .expandicard:hover i:first-child { font-size: 48px; }
    .expandicard:hover .slidinginfo { transition: top 0s ease, opacity 0s ease; }
    .floating { position: static; display: inline-block; }*/
}