
#graphs {
    flex-flow: row;
}

body {
    background: rgb(219,219,219);
    -webkit-animation-name: darken;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-name: darken;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}



path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: dash 3s ease-in forwards;
    animation: dash 3s ease-in forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 8s;
    animation-delay: 3s;
}


@-webkit-keyframes darken {
    from{
        background: rgb(219,219,219);
    }
    to{
        background: rgb(0,0,0);
    }
}

@keyframes darken {
    from{
        background: rgb(219,219,219);
    }
    to{
        background: rgb(0,0,0);
    }
}

@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}