@charset "UTF-8";

/* icons */

.email {
    margin: 5vh 0 15vh 0;
    flex-flow: column;
    font-size: 1.3em;
    text-align: center;
}

.email a:hover p {
    color: rgb(250,150,0);
}

.email .align-second {
    width: 200px;
    margin: 0 auto;
}

.social-media {
    justify-content: space-around;
}

.social-media .align-second {
    margin: 5vh 0;
    text-align: center;
}

.social-media .align-second img , .email img{
    width: 50px;
    max-width: 50px;
}

.social-media .align-second:hover p {
    color: rgb(250,150,0);
}

.social-media .pin-profile {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    align-self: center;
    background-color: red;
}