/* SUB NAV */

#small-bubble, #medium-bubble, #large-bubble {
    transform: scale(1);
    animation: none;
}

/* SUB SUB NAV */

#sub-subnav p {
    margin-left: -20px;
}


/* SHADOW THEATER */

#shadow-puppet-theater {
    width: 90vw;
    height: 50.9vw;
    margin: 200px auto 50px auto;
    margin-top: 200px;
    background: var(--mainBlue);
}

#shadow-puppet-theater svg {
    width: 100%;
    height: 100%;
}

#waves-front {
    will-change: translate;
    transform: translatex(-4%);
    animation: waves 5s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes waves {
    0% {transform: translatex(-4%);}
    50% {transform: translatex(4%);}
    100% {transform: translatex(-4%);}
}

@media all and (max-width: 650px) {
    #sub-subnav p {margin-left: -16px;}
}