/* icons */

.email {
    margin: 5vh 0 15vh 0;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

/*.email:hover a {
    color: rgb(250,150,0);
}*/

.social-media {
    justify-content: space-around;
}

.social-media .align-second {
    margin: 5vh 0;
    text-align: center;
}

.social-media .align-second img , .email img{
    width: 50px;
    max-width: 50px;
}

.social-media .align-second:hover p {
    color: rgb(250,150,0);
}