/* SUB NAVIGATION */

#subnav, #sub-subnav {
    display: grid;
    grid-gap: 10vw;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
    padding-right: 50px;
    padding-bottom: 4px;
    background: var(--mainWhite);
    margin-top: -10px;
}

#subnav div, #sub-subnav div {
    display: grid;
    width: 50px;
    align-items: center;
    justify-items: center;
}

#small-bubble, #medium-bubble, #large-bubble {
    border-radius: 50%;
    background: var(--lightBlue);
    align-self: center;
    justify-self: center;
}

#small-bubble {
    margin-top: 0px;
    width: 8px;
    height: 8px;
    max-width: 8px;
    max-height: 8px;
}

#medium-bubble {
    margin-top: 4px;
    width: 16px;
    height: 16px;
    max-width: 16px;
    max-height: 16px;
}

#large-bubble {
    margin-top: 4px;
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
}

a #large-bubble p {
    color: var(--mainWhite);
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
}

/* SUB SUB NAVIGATION */

#sub-subnav {
    padding-bottom: 10px;
    margin-top: 0px;
}

#sub-subnav p {
    border-radius: 20px;
    padding: 4px 10px;
    margin-left: -26px;
    font-size: 14px;
    color: var(--mainWhite);
    background: var(--lightBlue);
    transform: scale(0.01);
    animation: bubblepop .5s ease-out forwards;
    animation-delay: .2s;
}

header #subnav a:hover p {
    color: var(--mainBlue);
}

/* DOWNLOAD PDF */

#pdf-container {
    position: absolute;
    top: 50px;
    right: 54px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

#pdf-container a p {
    color: var(--mainOrange);
    font-size: 16px;
}

#pdf-container a:hover p {
    color: var(--darkOrange);
}

#cv {
    width: 48px;
    height: 59px;
}

#cv:hover {
    color: var(--darkOrange);
}

/* MAIN */

main {
    margin-top: 153px;
    background: var(--mainWhite);
    animation: backdrop 0.6s ease-in 0.75s forwards;
}

/* TIMELINE */

#timeline {
    max-width: 790px;
    margin: 0 auto;
}

#timeline-svg {
    height: calc(100vh - 407px);
    width: 100%;
}

#timeline-main-bar , .timeline-bubble {fill: rgb(100,150,240);}

#timeline-main-bar {
    transform: translatey(85%);
    animation: stemup 2.5s ease-out 1.75s forwards;
}

.timeline-bubble {transform: translatey(85%);}

#tb1 {animation: bud1 2.5s ease-out 1.75s forwards;}
#tb2 {animation: bud2 2.5s ease-out 1.75s forwards;}
#tb3 {animation: bud3 2.5s ease-out 1.75s forwards;}
#tb4 {animation: bud4 2.5s ease-out 1.75s forwards;}

.timeline-box {fill: rgba(250,250,250,.4);}

.timeline-text {font-family: 'Comfortaa'; font-size: 2.5px;}
.timeline-bubble-text {font-size: 2px; fill: var(--mainWhite);}
.timeline-date-text {font-size: 3px; fill: var(--mainWhite);}

.bubble-inside {
    opacity: 0;
    animation: innerbud 0.3s ease-out forwards;
}

#group1 {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: translatex(-35%) scalex(0.2);
    animation: expandbud1 0.3s ease-out 2s forwards;
}

#group2 {
    opacity: 0;
    transform: translatex(37%) scalex(0.2);
    animation: expandbud2 0.3s ease-out 2s forwards;
}

#group3 {
    opacity: 0;
    transform: translatex(38%) scalex(0.2);
    animation: expandbud3 0.3s ease-out 2.8s forwards;
}

#group4 {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: translatex(-35%) scalex(0.2);
    animation: expandbud4 0.3s ease-out 3.6s forwards;
}

#tb2-inside-a , #tb2-inside-b {
    animation-delay: 2.8s;
}

#back {
    /*fill: rgba(50,50,50,.5);*/
}

#flower-svg {
    opacity: 0;
    animation: flowerup 0.3s ease-out 4.5s forwards;
}

#flowers {
    /*transform-origin: 100% 100%;*/
}

.flower {
    fill: var(--veryLightGray);
    
}

#flowers rect:nth-of-type(2) {
    /*transform: rotate(45deg);*/
    /*transform-origin: 52% 18%;*/
}

/*#flowers rect:nth-of-type(3) {
    transform: rotate(90deg);
    
}

#flowers rect:nth-of-type(4) {
    transform: rotate(45deg) 20 20;
}*/


.timeline-date-text {
    opacity: 0;
    animation: showdate 0.3s ease-out forwards;
}

#dt1 {animation-delay: 3.8s;}
#dt2 {animation-delay: 4.2s;}
#dt3 {animation-delay: 4.4s;}

@keyframes bubblepop {
    0% {transform: scale(0.01);}
    100% {transform: scale(1);}
}

@keyframes backdrop {
    0% {background: var(--mainWhite)}
    100% {background: var(--lightBlue);}
}

@keyframes stemup {
    0% {transform: translatey(80%);}
    10% {transform: translatey(65%);}
    30% {transform: translatey(65%);}
    40% {transform: translatey(45%);}
    60% {transform: translatey(45%);}
    70% {transform: translatey(20%);}
    90% {transform: translatey(20%);}
    100% {transform: translatey(0%);}
}

@keyframes bud1 {
    0% {transform: translatey(85%);}
    10% {transform: translatey(65%);}
    100% {transform: translatey(65%);}
}

@keyframes bud2 {
    0% {transform: translatey(85%);}
    10% {transform: translatey(65%);}
    30% {transform: translatey(65%);}
    40% {transform: translatey(45%);}
    100% {transform: translatey(45%);}
}

@keyframes bud3 {
    0% {transform: translatey(85%);}
    10% {transform: translatey(65%);}
    30% {transform: translatey(65%);}
    40% {transform: translatey(45%);}
    60% {transform: translatey(45%);}
    70% {transform: translatey(20%);}
    100% {transform: translatey(20%);}
}

@keyframes bud4 {
    0% {transform: translatey(85%);}
    10% {transform: translatey(65%);}
    30% {transform: translatey(65%);}
    40% {transform: translatey(45%);}
    60% {transform: translatey(45%);}
    70% {transform: translatey(20%);}
    90% {transform: translatey(20%);}
    100% {transform: translatey(0%);}
}

@keyframes innerbud {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes expandbud1 {
    0% {transform: translatex(-35%) scalex(0.2); opacity: 0;}
    100% {transform: translatex(0%) scalex(1); opacity: 1;}
}

@keyframes expandbud2 {
    0% {transform: translatex(37%) scalex(0.2); opacity: 0;}
    100% {transform: translatex(0%) scalex(1); opacity: 1;}
}

@keyframes expandbud3 {
    0% {transform: translatex(38%) scalex(0.2); opacity: 0;}
    100% {transform: translatex(0%) scalex(1); opacity: 1;}
}

@keyframes expandbud4 {
    0% {transform: translatex(-35%) scalex(0.2); opacity: 0;}
    100% {transform: translatex(0%) scalex(1); opacity: 1;}
}

@keyframes flowerup {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes showdate {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media all and (max-width: 420px) {
    #subnav, #sub-subnav {padding-right: 20px; grid-gap: 4vw;}
    #pdf-container {right: calc(4vw + 10px)}
}