/* DOWNLOAD PDF */

#pdf-container {
  height: 50px;
  margin: 0 0 30px;
}

#pdf-container a {
    width: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pdf-container a p {
    font-family: 'Advent Pro', sans-serif;
    font-size: 12px;
    color: var(--mainOrange);
}

#pdf-container:hover p {
    color: var(--darkOrange);
}

#cv img {
    margin: 5px 0 0;
    width: 40px;
    height: 40px;
}

/* TIMELINE */

#timeline {
    height: calc(100vh - 40px - 60px - 50px - 30px);
    margin: 0 auto;
    background: var(--mainWhite);
    animation: backdrop 0.6s ease-in 0.75s forwards;
}

#timeline-svg {
/*     height: calc(100vh - 40px - 60px - 50px - 30px); */
    width: 100%;
    height: 100%;
}

#timeline-main-bar , .timeline-bubble {fill: rgb(100,150,240);}

#timeline-main-bar {
    transform: translatey(85%);
    animation: stemup 2.5s ease-out 1.75s forwards;
}

.timeline-bubble {transform: translatey(85%);}

#tb1 {animation: bud1 2.5s ease-out 1.75s forwards;}
#tb2 {animation: bud2 2.5s ease-out 1.75s forwards;}
#tb3 {animation: bud3 2.5s ease-out 1.75s forwards;}
#tb4 {animation: bud4 2.5s ease-out 1.75s forwards;}

.timeline-box {fill: rgba(250,250,250,.4);}
.timeline-text {font-family: 'Comfortaa'; font-size: 2.5px;}

#education-svg , .bubble-inside , #article-svg {
    opacity: 0;
    animation: innerbud 0.3s ease-out forwards;
}

#education-svg {animation-delay: 2.1s;}
#tb2-inside-a , #tb2-inside-b {animation-delay: 2.8s;}
#article-svg {animation-delay: 3.5s;}

#education-svg g path , #education-svg g rect {fill: rgb(230,230,230);}
.timeline-bubble-text {font-size: 2px; fill: var(--mainWhite);}
.timeline-date-text {font-size: 3px; fill: var(--mainWhite);}
#article-svg rect {fill: var(--lightGray);}
#article-svg rect:nth-of-type(1) {fill: var(--veryLightGray);}

#group1 {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: translatex(-35%) scalex(0.2);
    animation: expandbud1 0.3s ease-out 2s forwards;
}

#group2 {
    opacity: 0;
    transform: translatex(37%) scalex(0.2);
    animation: expandbud2 0.3s ease-out 2s forwards;
}

#group3 {
    opacity: 0;
    transform: translatex(38%) scalex(0.2);
    animation: expandbud3 0.3s ease-out 2.8s forwards;
}

#group4 {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: translatex(-35%) scalex(0.2);
    animation: expandbud4 0.3s ease-out 3.6s forwards;
}

#flower-svg {
    opacity: 0;
    animation: flowerup 1s ease-out 4.5s forwards;
}

.flower {fill: var(--veryLightGray); transform: rotate(0deg);}

.flower:nth-of-type(2) {animation: flowerfan2 1s ease-out 4.5s forwards;}
.flower:nth-of-type(3) {animation: flowerfan3 1s ease-out 4.5s forwards;}
.flower:nth-of-type(4) {animation: flowerfan4 1s ease-out 4.5s forwards;}
.flower:nth-of-type(5) {animation: flowerfan5 1s ease-out 4.5s forwards;}
.flower:nth-of-type(6) {animation: flowerfan6 1s ease-out 4.5s forwards;}
.flower:nth-of-type(7) {animation: flowerfan7 1s ease-out 4.5s forwards;}
.flower:nth-of-type(8) {animation: flowerfan8 1s ease-out 4.5s forwards;}
.flower:nth-of-type(9) {animation: flowerfan9 1s ease-out 4.5s forwards;}
.flower:nth-of-type(10) {animation: flowerfan10 1s ease-out 4.5s forwards;}
.flower:nth-of-type(11) {animation: flowerfan11 1s ease-out 4.5s forwards;}
.flower:nth-of-type(12) {animation: flowerfan12 1s ease-out 4.5s forwards;}
.flower:nth-of-type(13) {animation: flowerfan13 1s ease-out 4.5s forwards;}
.flower:nth-of-type(14) {animation: flowerfan14 1s ease-out 4.5s forwards;}
.flower:nth-of-type(15) {animation: flowerfan15 1s ease-out 4.5s forwards;}

.timeline-date-text {
    opacity: 0;
    animation: showdate 0.3s ease-out forwards;
}

#dt1 {animation-delay: 3.8s;}
#dt2 {animation-delay: 4.2s;}
#dt3 {animation-delay: 4.4s;}

@keyframes bubblepop {
    0% {transform: scale(0.01);}
    100% {transform: scale(1);}
}

@keyframes backdrop {
    0% {background: var(--mainWhite)}
    100% {background: var(--lightBlue);}
}

@keyframes stemup {
    0% {transform: translatey(80%);}
    10% {transform: translatey(65%);}
    30% {transform: translatey(65%);}
    40% {transform: translatey(45%);}
    60% {transform: translatey(45%);}
    70% {transform: translatey(20%);}
    90% {transform: translatey(20%);}
    100% {transform: translatey(0%);}
}

@keyframes bud1 {
    0% {transform: translatey(85%);}
    10% {transform: translatey(65%);}
    100% {transform: translatey(65%);}
}

@keyframes bud2 {
    0% {transform: translatey(85%);}
    10% {transform: translatey(65%);}
    30% {transform: translatey(65%);}
    40% {transform: translatey(45%);}
    100% {transform: translatey(45%);}
}

@keyframes bud3 {
    0% {transform: translatey(85%);}
    10% {transform: translatey(65%);}
    30% {transform: translatey(65%);}
    40% {transform: translatey(45%);}
    60% {transform: translatey(45%);}
    70% {transform: translatey(20%);}
    100% {transform: translatey(20%);}
}

@keyframes bud4 {
    0% {transform: translatey(85%);}
    10% {transform: translatey(65%);}
    30% {transform: translatey(65%);}
    40% {transform: translatey(45%);}
    60% {transform: translatey(45%);}
    70% {transform: translatey(20%);}
    90% {transform: translatey(20%);}
    100% {transform: translatey(0%);}
}

@keyframes innerbud {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes expandbud1 {
    0% {transform: translatex(-35%) scalex(0.2); opacity: 0;}
    100% {transform: translatex(0%) scalex(1); opacity: 1;}
}

@keyframes expandbud2 {
    0% {transform: translatex(37%) scalex(0.2); opacity: 0;}
    100% {transform: translatex(0%) scalex(1); opacity: 1;}
}

@keyframes expandbud3 {
    0% {transform: translatex(38%) scalex(0.2); opacity: 0;}
    100% {transform: translatex(0%) scalex(1); opacity: 1;}
}

@keyframes expandbud4 {
    0% {transform: translatex(-35%) scalex(0.2); opacity: 0;}
    100% {transform: translatex(0%) scalex(1); opacity: 1;}
}

@keyframes flowerup {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes flowerfan2 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(22.5deg);}
}

@keyframes flowerfan3 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(45deg);}
}

@keyframes flowerfan4 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(67deg);}
}

@keyframes flowerfan5 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(90deg);}
}

@keyframes flowerfan6 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(112deg);}
}

@keyframes flowerfan7 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(135deg);}
}

@keyframes flowerfan8 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(157.5deg);}
}

@keyframes flowerfan9 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-22.5deg);}
}

@keyframes flowerfan10 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-45deg);}
}

@keyframes flowerfan11 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-67deg);}
}

@keyframes flowerfan12 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-90deg);}
}

@keyframes flowerfan13 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-112deg);}
}

@keyframes flowerfan14 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-135deg);}
}

@keyframes flowerfan15 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-157deg);}
}

@keyframes showdate {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media all and (max-width: 420px) {
    #subnav, #sub-subnav {padding-right: 20px; grid-gap: 4vw;}
}