a {
    color: black;
}

#welcome {
    height: 30%;
    width: 300px;
    display: flex;
    flex-flow: column;
    align-items: left;
    justify-content: left;
}

#tilegrid {
    width: 60%;
    height: 40%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.gridrows {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.gridcolumns {
    height: 140px;
    width: 140px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    outline: 2px solid black;
    background: teal;
}

.gridcolumns:hover {
    background: darkorange;
}

#welcome img {
    width: 100px;
    margin: 0 auto;
}