a {
    color: black;
}

body {
    overflow: hidden;
}

#welcome {
    height: 100px;
    width: 100px;
    display: flex;
    flex-flow: column;
    align-items: left;
    justify-content: left;
    position: absolute;
    top: -200px;
    left: 0;
    right: 0;
    margin: 0px auto;
    animation: androidslidedown 1.2s 1 forwards 2.5s;
}

.overdisplay {
    width: 360px;
    height: 280px;
    position: absolute;
    top: -48px;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(140deg, rgba(131,3,0,1), rgba(0,0,0,1));
    animation: displayslideaway 15s 1 linear forwards;
}

.overdisplay p {
    margin: 10px 0;
    font-size: 40px;
    color: whitesmoke;
}

#display {
    width: 360px;
    height: 280px;
    position: absolute;
    top: 248px;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    background: whitesmoke;
    box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.2);
    animation: displayslidedown 2s 1 linear forwards;
}

.topdisplay {
    width: 100%;
    height: 80px;
    color: whitesmoke;
    animation: 27s ease-out 14s forwards infinite colorme2;
}

.bottomdisplay {
    width: 100%;
    height: 200px;
    position: absolute;
    background: whitesmoke;
    overflow: hidden;
    animation: 27s ease-out 14s forwards infinite colorme;
}

.strippy {
    width: 1080px;
    height: 40px;
    display: flex;
    position: absolute;
    left: 360px;
    margin: 5px 0 0 0;
    animation: 27s ease-out 14s forwards infinite slideme;
}
.longy {
    width: 50px;
    height: 240px;
    position: absolute;
    top: -240px;
    left: 40px;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    animation: 27s linear 14s forwards infinite fallme;
}

.biglongy {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 200px;
    left: 0px;
    display: flex;
    flex-flow: column;
    animation: 27s linear 14s forwards infinite upme;
}

#display .topdisplay .longy i {
    font-size: 48px;
} 

#display .topdisplay .strippy p {
    width: 360px;
    text-align: right;
    font-size: 40px;
    padding: 10px 40px 0 0;
}

#display .bottomdisplay .biglongy .textdisplay {
    height: 200px;
    color: whitesmoke;
}

#display .bottomdisplay .biglongy .textdisplay p {
    padding: 0 50px 10px 50px;
}

#display .bottomdisplay .biglongy .textdisplay p:first-child {
    padding: 50px 50px 10px 50px;
}

#display .bottomdisplay .biglongy .textdisplay p a {
    color: whitesmoke;
}

#display .bottomdisplay .biglongy .textdisplay p a:hover {
    color: orange;
}

#welcome img {
    width: 100px;
    margin: 0 auto;
}

.floatingwordscontainer {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

span {
    color: whitesmoke;
    font-size: 18px;
    font-family: zekton;
    opacity: 0;
}

span:nth-child(1) {
    animation: one 2s forwards 4s;
    position: absolute;
}

span:nth-child(2) {
    animation: two 2s forwards 4.1s;
    position: absolute;
}

span:nth-child(3) {
    animation: three 2s forwards 4.2s;
    position: absolute;
}

span:nth-child(4) {
    animation: four 2s forwards 5.0s;
    position: absolute;
}

span:nth-child(5) {
    animation: five 2s forwards 5.1s;
    position: absolute;
}

span:nth-child(6) {
    animation: six 2s forwards 5.2s;
    position: absolute;
}

span:nth-child(7) {
    animation: seven 2s forwards 5.3s;
    position: absolute;
}

span:nth-child(8) {
    animation: eight 2s forwards 5.4s;
    position: absolute;
}

span:nth-child(9) {
    animation: nine 2s forwards 5.5s;
    position: absolute;
}

span:nth-child(10) {
    animation: ten 2s forwards 5.6s;
    position: absolute;
}

span:nth-child(11) {
    animation: eleven 2s forwards 5.7s;
    position: absolute;
}

span:nth-child(12) {
    animation: twelve 2s forwards 5.8s;
    position: absolute;
}

span:nth-child(13) {
    animation: thirteen 2s forwards 5.9s;
    position: absolute;
}

span:nth-child(14) {
    animation: fourteen 2s forwards 6.0s;
    position: absolute;
}

span:nth-child(15) {
    animation: fifteen 2s forwards 6.1s;
    position: absolute;
}

span:nth-child(16) {
    animation: sixteen 2s forwards 6.2s;
    position: absolute;
}

span:nth-child(17) {
    animation: seventeen 2s forwards 6.3s;
    position: absolute;
}

span:nth-child(18) {
    animation: eighteen 2s forwards 6.4s;
    position: absolute;
}

span:nth-child(19) {
    animation: nineteen 2s forwards 6.5s;
    position: absolute;
}

span:nth-child(20) {
    animation: twenty 2s forwards 6.6s;
    position: absolute;
}

span:nth-child(21) {
    animation: twentyone 2s forwards 6.7s;
    position: absolute;
}

span:nth-child(22) {
    animation: twentytwo 2s forwards 6.8s;
    position: absolute;
}

span:nth-child(23) {
    animation: twentythree 2s forwards 6.9s;
    position: absolute;
}

span:nth-child(24) {
    animation: twentyfour 2s forwards 7.0s;
    position: absolute;
}

span:nth-child(25) {
    animation: twentyfive 2s forwards 7.1s;
    position: absolute;
}

span:nth-child(26) {
    animation: twentysix 2s forwards 8.1s;
    position: absolute;
}

span:nth-child(27) {
    animation: twentyseven 2s forwards 8.2s;
    position: absolute;
}

span:nth-child(28) {
    animation: twentyeight 2s forwards 8.3s;
    position: absolute;
}

span:nth-child(29) {
    animation: twentynine 2s forwards 8.4s;
    position: absolute;
}

span:nth-child(30) {
    animation: thirty 2s forwards 8.5s;
    position: absolute;
}

span:nth-child(31) {
    animation: thirtyone 2s forwards 8.6s;
    position: absolute;
}

span:nth-child(32) {
    animation: thirtytwo 2s forwards 8.7s;
    position: absolute;
}

span:nth-child(33) {
    animation: thirtythree 2s forwards 8.8s;
    position: absolute;
}

span:nth-child(34) {
    animation: thirtyfour 2s forwards 8.9s;
    position: absolute;
}

span:nth-child(35) {
    animation: thirtyfive 2s forwards 9.0s;
    position: absolute;
}

span:nth-child(36) {
    animation: thirtysix 2s forwards 9.1s;
    position: absolute;
}

span:nth-child(37) {
    animation: thirtyseven 2s forwards 9.2s;
    position: absolute;
}

span:nth-child(38) {
    animation: thirtyeight 2s forwards 9.3s;
    position: absolute;
}

span:nth-child(39) {
    animation: thirtynine 2s forwards 9.4s;
    position: absolute;
}

span:nth-child(40) {
    animation: forty 2s forwards 9.5s;
    position: absolute;
}

span:nth-child(41) {
    animation: fortyone 2s forwards 9.6s;
    position: absolute;
}

span:nth-child(42) {
    animation: fortytwo 2s forwards 9.7s;
    position: absolute;
}

span:nth-child(43) {
    animation: fortythree 2s forwards 9.8s;
    position: absolute;
}

span:nth-child(44) {
    animation: fortyfour 2s forwards 9.9s;
    position: absolute;
}

span:nth-child(45) {
    animation: fortyfive 2s forwards 10.0s;
    position: absolute;
}

span:nth-child(46) {
    animation: fortysix 2s forwards 10.1s;
    position: absolute;
}

span:nth-child(47) {
    animation: fortyseven 2s forwards 10.2s;
    position: absolute;
}

span:nth-child(48) {
    animation: fortyeight 2s forwards 10.3s;
    position: absolute;
}

span:nth-child(49) {
    animation: fortynine 2s forwards 10.4s;
    position: absolute;
}

span:nth-child(50) {
    animation: fifty 2s forwards 10.5s;
    position: absolute;
}

span:nth-child(51) {
    animation: fiftyone 2s forwards 10.6s;
    position: absolute;
}

span:nth-child(52) {
    animation: fiftytwo 2s forwards 10.7s;
    position: absolute;
}

span:nth-child(53) {
    animation: fiftythree 2s forwards 10.8s;
    position: absolute;
}

span:nth-child(54) {
    animation: fiftyfour 2s forwards 10.9s;
    position: absolute;
}

span:nth-child(55) {
    animation: fiftyfive 2s forwards 11.0s;
    position: absolute;
}

@keyframes one {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -80px;
        left: -150px;
        opacity: 1;
    }
}

@keyframes two {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -80px;
        left: -135px;
        opacity: 1;
    }
}

@keyframes three {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -80px;
        left: -130px;
        opacity: 1;
    }
}

@keyframes four {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: -150px;
        opacity: 1;
    }
}

@keyframes five {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: -144px;
        opacity: 1;
    }
}

@keyframes six {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: -140px;
        opacity: 1;
    }
}

@keyframes seven {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: -120px;
        opacity: 1;
    }
}

@keyframes eight {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: -110px;
        opacity: 1;
    }
}

@keyframes nine {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: -90px;
        opacity: 1;
    }
}

@keyframes ten {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: -79px;
        opacity: 1;
    }
}

@keyframes eleven {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: -75px;
        opacity: 1;
    }
}

@keyframes twelve {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: -65px;
        opacity: 1;
    }
}

@keyframes thirteen {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: -50px;
        opacity: 1;
    }
}

@keyframes fourteen {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: -40px;
        opacity: 1;
    }
}

@keyframes fifteen {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: -30px;
        opacity: 1;
    }
}

@keyframes sixteen {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: -15px;
        opacity: 1;
    }
}

@keyframes seventeen {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: -5px;
        opacity: 1;
    }
}

@keyframes eighteen {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: 0px;
        opacity: 1;
    }
}

@keyframes nineteen {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: 10px;
        opacity: 1;
    }
}

@keyframes twenty {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: 20px;
        opacity: 1;
    }
}

@keyframes twentyone {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: 30px;
        opacity: 1;
    }
}

@keyframes twentytwo {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: 40px;
        opacity: 1;
    }
}

@keyframes twentythree {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: 55px;
        opacity: 1;
    }
}

@keyframes twentyfour {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: 65px;
        opacity: 1;
    }
}

@keyframes twentyfive {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -60px;
        left: 75px;
        opacity: 1;
    }
}

@keyframes twentysix {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: -150px;
        opacity: 1;
    }
}

@keyframes twentyseven {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: -138px;
        opacity: 1;
    }
}

@keyframes twentyeight {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: -134px;
        opacity: 1;
    }
}

@keyframes twentynine {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: -124px;
        opacity: 1;
    }
}

@keyframes thirty {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: -114px;
        opacity: 1;
    }
}

@keyframes thirtyone {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: -105px;
        opacity: 1;
    }
}

@keyframes thirtytwo {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: -90px;
        opacity: 1;
    }
}

@keyframes thirtythree {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: -80px;
        opacity: 1;
    }
}

@keyframes thirtyfour {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: -70px;
        opacity: 1;
    }
}

@keyframes thirtyfive {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: -60px;
        opacity: 1;
    }
}

@keyframes thirtysix {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: -45px;
        opacity: 1;
    }
}

@keyframes thirtyseven {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: -29px;
        opacity: 1;
    }
}

@keyframes thirtyeight {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: -25px;
        opacity: 1;
    }
}

@keyframes thirtynine {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: -15px;
        opacity: 1;
    }
}

@keyframes forty {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: -5px;
        opacity: 1;
    }
}

@keyframes fortyone {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: 10px;
        opacity: 1;
    }
}

@keyframes fortytwo {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: 20px;
        opacity: 1;
    }
}

@keyframes fortythree {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: 25px;
        opacity: 1;
    }
}

@keyframes fortyfour {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: 35px;
        opacity: 1;
    }
}

@keyframes fortyfive {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: 45px;
        opacity: 1;
    }
}

@keyframes fortysix {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: 55px;
        opacity: 1;
    }
}

@keyframes fortyseven {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: 70px;
        opacity: 1;
    }
}

@keyframes fortyeight {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: 80px;
        opacity: 1;
    }
}

@keyframes fortynine {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: 90px;
        opacity: 1;
    }
}

@keyframes fifty {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: 105px;
        opacity: 1;
    }
}

@keyframes fiftyone {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: 115px;
        opacity: 1;
    }
}

@keyframes fiftytwo {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: 125px;
        opacity: 1;
    }
}

@keyframes fiftythree {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: 130px;
        opacity: 1;
    }
}

@keyframes fiftyfour {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: 140px;
        opacity: 1;
    }
}

@keyframes fiftyfive {
    from {
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    to {
        top: -40px;
        left: 150px;
        opacity: 1;
    }
}

@keyframes androidslidedown {
    from {
        top: -400px;
    }
    to {
        top: 150px;
    }
}

@keyframes displayslidedown {
    from {
        top: -300px;
    }
    to {
        top: 248px;
    }
}

@keyframes displayslideaway {
    0% {
        top: -300px;
    }
    13.333% {
        top: 248px;
    }
    95% {
        top: 248px;
        visibility: visible;
        opacity: 1;
    }
    100% {
        top: 248px;
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes fallme {
    0% {
        top: -240px;
    }
    2% {
        top: -160px;
    }
    31% {
        top: -160px;
    }
    33% {
        top: -80px;
    }
    64% {
        top: -80px;
    }
    66% {
        top: 0px;
    }
    98% {
        top: 0px;
    }
    100% {
        top: 80px;
    }
}

@keyframes upme {
    0% {
        top: 200px;
    }
    2% {
        top: 0px;
    }
    31% {
        top: 0px;
    }
    33% {
        top: -200px;
    }
    64% {
        top: -200px;
    }
    66% {
        top: -400px;
    }
    98% {
        top: -400px;
    }
    100% {
        top: -600px;
    }
}

@keyframes slideme {
    0% {
        left: 360px;
    }
    2% {
        left: 0px;
    }
    31% {
        left: 0px;
    }
    33% {
        left: -360px;
    }
    64% {
        left: -360px;
    }
    66% {
        left: -720px;
    }
    98% {
        left: -720px;
    }
    100% {
        left: -1080px;
    }
}

@keyframes colorme {
    0% {
        background: maroon;
    }
    2% {
        background: maroon;
    }
    31% {
        background: maroon;
    }
    33% {
        background: tomato;
    }
    64% {
        background: tomato;
    }
    66% {
        background: teal;
    }
    98% {
        background: teal;
    }
    100% {
        background: maroon;
    }
}

@keyframes colorme2 {
    0% {
        color: maroon;
    }
    2% {
        color: maroon;
    }
    31% {
        color: maroon;
    }
    33% {
        color: tomato;
    }
    64% {
        color: tomato;
    }
    66% {
        color: teal;
    }
    98% {
        color: teal;
    }
    100% {
        color: maroon;
    }
}

.flakes {
    position: absolute;
    top: 80px;
    left: 10%;
    color: whitesmoke;
    opacity: 0;
    z-index: 1;
    animation: 10s linear 11s infinite forwards fall;
}

.flake1 {
    left: 20%;
    animation-delay: 14s;
}

.flake2 {
    left: 30%;
    animation-delay: 15s;
}

.flake3 {
    left: 15%;
    animation-delay: 16s;
}

.flake4 {
    left: 60%;
    animation-delay: 18s;
}

.flake5 {
    left: 50%;
    animation-delay: 17s;
}

.flake6 {
    left: 80%;
    animation-delay: 20s;
}

.flake7 {
    left: 75%;
    animation-delay: 22s;
}

.flake8 {
    left: 40%;
    animation-delay: 24s;
}

@keyframes fall {
    0% {
        top: 60px;
        opacity: 0
    }
    50% {
        top: 40%;
        opacity: 1;
    }
    100% {
        top: 85%;
        opacity: 0;
    }
}
