#timelineedu {
    flex-flow: column;
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
}

.timelineedurows {
    width: 100%;
    height: 10%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.timelineeducolumns {
    width: 30%;
    height: 70px;
    margin: 5px;
    background: #1272a5;
    justify-content: center;
    display: flex;
    align-items: center;
}

#timelineedurow1 {
    position: absolute;
    left: -2000px;
    position: relative;
    -webkit-animation: slideright 1s ease forwards;
    animation: slideright .5s ease forwards;
    animation-delay: 5s;
}

#timelineedurow2 {
    position: absolute;
    right: -2000px;
    position: relative;
    -webkit-animation: slideleft 1s ease forwards;
    animation: slideleft .5s ease forwards;
    animation-delay: 5s;
}

#timelineedurow3 {
    opacity: 0;
    -webkit-animation: appear 1s 5s 1 forwards;
    animation: appear 1s 5s 1 forwards;
}

p, figcaption {
    font-family: zekton;
    font-weight: normal;
    color: whitesmoke;
}

#infographictitle p {
    padding: 5%;
    background: #1272a5;
    text-align: center;
}

#piechartthing {
    margin: 75px 40% 0 0;
    width: 70%;
}

#graphs {
    flex-flow: row;
}
/* Pie Chart Thing */

figure {
  display: block;
  height: 0;
  margin: 0 auto;
  position: relative;
  font-size:1vw;
  width: 25em;
  padding-bottom: 30em;/*40em*/
}

figcaption {
  font-size:1.8vw;
  text-align:center;
  opacity: 0;
  position: absolute;
  z-index:2;
  -webkit-animation: appear 1s 3s 1 forwards;
  animation: appear 1s 3s 1 forwards;
}

#pietitle{
    font-size: 1.6em;
    top: -8%;
    width: 100%;
}
#lab1, #lab2, #lab3 {
    font-size: 1.5em;
    position: absolute;
    opacity: 0;
}
#lab1 {
    top: 22%;
    right: -104%;
    -webkit-animation: appear 1s 3s 1 forwards;
    animation: appear 1s 3.50s 1 forwards;
}

#lab2 {
    top: 35%;
    right: -72%;
    -webkit-animation: appear 1s 3s 1 forwards;
    animation: appear 1s 3.75s 1 forwards;
}
#lab3 {
    top: 47.5%;
    right: -70%;
    -webkit-animation: appear 1s 3s 1 forwards;
    animation: appear 1s 4.00s 1 forwards;
}

#one {
    top: 24%;
    right: 20%;
}
#two {
    top: 58%;
    right: 12%;
}
#three {
    top: 47%;
    left: 9%;
}
svg {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}
circle {
  fill:rgba(0,0,0,0);
  stroke-width:31.8309886184;
  stroke-dasharray: 0,25,0,100;
  stroke-dashoffset: 25;
  -webkit-animation: pie1 6s 1 ease both;
  animation: pie1 6s 1 ease both;
}
.pie1 {
  stroke:rgb(70, 141, 221);
}
.pie2 {
  stroke:rgb(10, 103, 170);
  -webkit-animation-name: pie2;
  animation-name: pie2;
}
.pie3 {
  stroke:rgb(12, 79, 127);
  -webkit-animation-name: pie3;
  animation-name: pie3;
}

.rec1 {
    fill: rgb(70, 141, 221);
    opacity: 0;
    -webkit-animation: appear 1s 3.50s 1 forwards;
    animation: appear 1s 3.50s 1 forwards;
}

.rec2 {
    fill: rgb(10, 103, 170);
    opacity: 0;
    -webkit-animation: appear 1s 3.75s 1 forwards;
    animation: appear 1s 3.75s 1 forwards;
}

.rec3 {
    fill: rgb(12, 79, 127);
    opacity: 0;
    -webkit-animation: appear 1s 4.00s 1 forwards;
    animation: appear 1s 4.00s 1 forwards;
}

/*
 keyframe 100% : 0 offset this-percentage rest
*/

/* 1st pie is 23.5% */
@-webkit-keyframes pie1 {
  50%,100% {stroke-dasharray: 0,0,23.5,76.5;}
}
@keyframes pie1 {
  50%, 100% {stroke-dasharray: 0,0,23.5,76.5;}
}
/* 2nd pie is 17.6% */
@-webkit-keyframes pie2 {
  50%,100% {stroke-dasharray: 0,23.5,17.6,58.8;}
}
@keyframes pie2 {
  50%,100% {stroke-dasharray: 0,23.5,17.6,58.8;}
}
/* 3rd pie is 58.8% */
@-webkit-keyframes pie3 {
  50%,100% {stroke-dasharray: 23.5,17.6,58.8,100;}
}
@keyframes pie3 {
  50%,100% {stroke-dasharray: 23.5,17.6,58.8,100;}
}

* {
    box-sizing: border-box:
}

path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: dash 3s ease-in forwards;
    animation: dash 3s ease-in forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 6s;
    animation-delay: 8s;
}

body {
    background: rgb(219,219,219);
    -webkit-animation-name: darken;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-name: darken;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.barGraph {
    list-style: none;
    margin: 20px auto;
}

.barWrap {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgb(22, 167, 229);
    margin: 5px;
}

.barFill {
    border-radius: 10px 10px 10px 10px;
    animation: barFill 1s;
    animation-delay: 6s;
    background-color: rgb(22, 167, 229);
    display: block;
    height: 15px;
    width: 0px;
}

@-webkit-keyframes darken {
    from{
        background: rgb(219,219,219);
    }
    to{
        background: rgb(0,0,0);
    }
}

@keyframes darken {
    from{
        background: rgb(219,219,219);
    }
    to{
        background: rgb(0,0,0);
    }
}

@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes slideright {
    100% {
        left: 0;
    }
}

@keyframes slideright {
    100% {
        left: 0;
    }
}

@-webkit-keyframes slideleft {
    100% {
        right: 0;
    }
}

@keyframes slideleft {
    100% {
        right: 0;
    }
}

@keyframes barFill {
    0% {
        width: 0;
    }
}