p, figcaption {
    font-family: zekton;
    font-weight: normal;
    color: whitesmoke;
}

#infographictitle p {
    padding: 5%;
    background: #1272a5;
    text-align: center;
}

#piechartthing {
    margin: 10% 0 0 0;
    width: 60%;
}

#graphs {
    flex-flow: row;
}
/* Pie Chart Thing */

figure {
  display: block;
  height: 0;
  margin: 0 auto;
  position: relative;
  font-size:12px;
  font-size:1vw;
  width: 40em;
  padding-bottom: 40em;
}

figcaption {
  font-size:2.2vw;
  text-align:center;
  opacity: 0;
  position: absolute;
  z-index:2;
  -webkit-animation: appear 1s 3s 1 forwards;
  animation: appear 1s 3s 1 forwards;
}

#pietitle{
    top: -20%;
    width: 100%;
}
#lab1, #lab2, #lab3 {
    font-size: 2em;
    position: absolute;
    opacity: 0;
}
#lab1 {
    top: 16%;
    right: -95%;
    -webkit-animation: appear 1s 3s 1 forwards;
    animation: appear 1s 3.50s 1 forwards;
}

#lab2 {
    top: 32%;
    right: -68%;
    -webkit-animation: appear 1s 3s 1 forwards;
    animation: appear 1s 3.75s 1 forwards;
}
#lab3 {
    top: 47.5%;
    right: -67%;
    -webkit-animation: appear 1s 3s 1 forwards;
    animation: appear 1s 4.00s 1 forwards;
}

#one {
    top: 16.5%;
    right: 20%;
}
#two {
    top: 60%;
    right: 12%;
}
#three {
    top: 48%;
    left: 6%;
}
svg {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}
circle {
  fill:rgba(0,0,0,0);
  stroke-width:31.8309886184;
  stroke-dasharray: 0,25,0,100;
  stroke-dashoffset: 25;
  -webkit-animation: pie1 6s 1 ease both;
  animation: pie1 6s 1 ease both;
}
.pie1 {
  stroke:rgb(70, 141, 221);
}
.pie2 {
  stroke:rgb(10, 103, 170);
  -webkit-animation-name: pie2;
  animation-name: pie2;
}
.pie3 {
  stroke:rgb(12, 79, 127);
  -webkit-animation-name: pie3;
  animation-name: pie3;
}

.rec1 {
    fill: rgb(70, 141, 221);
    opacity: 0;
    -webkit-animation: appear 1s 3s 1 forwards;
    animation: appear 1s 3.50s 1 forwards;
}

.rec2 {
    fill: rgb(10, 103, 170);
    opacity: 0;
    -webkit-animation: appear 1s 3s 1 forwards;
    animation: appear 1s 3.75s 1 forwards;
}

.rec3 {
    fill: rgb(12, 79, 127);
    opacity: 0;
    -webkit-animation: appear 1s 3s 1 forwards;
    animation: appear 1s 4.00s 1 forwards;
}

/*
 keyframe 100% : 0 offset this-percentage rest
*/

/* 1st pie is 23.5% */
@-webkit-keyframes pie1 {
  50%,100% {stroke-dasharray: 0,0,23.5,76.5;}
}
@keyframes pie1 {
  50%, 100% {stroke-dasharray: 0,0,23.5,76.5;}
}
/* 2nd pie is 17.6% */
@-webkit-keyframes pie2 {
  50%,100% {stroke-dasharray: 0,23.5,17.6,58.8;}
}
@keyframes pie2 {
  50%,100% {stroke-dasharray: 0,23.5,17.6,58.8;}
}
/* 3rd pie is 58.8% */
@-webkit-keyframes pie3 {
  50%,100% {stroke-dasharray: 23.5,17.6,58.8,100;}
}
@keyframes pie3 {
  50%,100% {stroke-dasharray: 23.5,17.6,58.8,100;}
}

* {
    box-sizing: border-box:
}

path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: dash 3s ease-in forwards;
    animation: dash 3s ease-in forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

body {
    -webkit-animation-name: darken;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    animation-name: darken;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@-webkit-keyframes darken {
    from{
        background: rgb(219,219,219);
    }
    to{
        background: rgb(0,0,0);
    }
}

@keyframes darken {
    from{
        background: rgb(219,219,219);
    }
    to{
        background: rgb(0,0,0);
    }
}

@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}