section {
    background: black;
    color: white;
}

.sectiontitle {
    width: 100px;
    height: 20px;
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    border: 2px solid cornflowerblue;
    color: orange;
    opacity: 0;
    -webkit-animation: appear 6s 3s 1 forwards;
    animation: appear 6s 3s 1 forwards;
}

.arrowsnav {
    width: 220px;
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    -webkit-animation: appear 1s 8s 1 forwards;
    animation: appear 1s 8s 1 forwards;
}

.arrowsnav a i:hover {
    color: orange;
}

#barGraphContainer {
    margin: 50px auto 0 auto;
    width: 80%;
    opacity: 0;
    animation-name: appear;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.barGraph {
    width: 80%;
    list-style: none;
    margin: 20px auto;
}

li {
    height: 50px;
    margin: 0 0 20px 0;
    
}

.barWrap {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgb(22, 167, 229);
    margin: 5px;
}

.barFill {
    border-radius: 10px 10px 10px 10px;
    animation: barFill 4s;
    animation-delay: 3s;
    background-color: rgb(22, 167, 229);
    display: block;
    height: 15px;
    width: 0px;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes barFill {
    0% {
        width: 0;
    }
}