section {
    background: black;
    color: white;
    overflow: auto;
}

.sectiontitle {
    width: 100px;
    height: 20px;
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    border: 2px solid cornflowerblue;
    color: orange;
    opacity: 0;
    -webkit-animation: appear 3s 1s 1 forwards;
    animation: appear 3s 1s 1 forwards;
}

.arrowsnav {
    width: 220px;
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    -webkit-animation: appear 1s 3s 1 forwards;
    animation: appear 1s 3s 1 forwards;
}

.arrowsnav a i:hover {
    color: orange;
}

.achievementscontainer {
    height: 100%;
}

.achievements {
    width: 75%;
    border: 2px solid orange;
    padding: 5%;
    margin: 20px auto;
}

.achievements:first-child {
    margin: 140px auto 20px auto;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}