section {
    background: black;
    color: white;
}

.sectiontitle {
    width: 100px;
    height: 20px;
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    border: 2px solid cornflowerblue;
    color: orange;
    opacity: 0;
    -webkit-animation: appear 3s 2.5s 1 forwards;
    animation: appear 3s 2.5s 1 forwards;
}

.arrowsnav {
    width: 220px;
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    -webkit-animation: appear 1s 4s 1 forwards;
    animation: appear 1s 4s 1 forwards;
}

.arrowsnav a i:hover {
    color: orange;
}

#timelineedu {
    flex-flow: column;
    height: 100%;
    width: 98%;
    margin: 0;
}

.timelineedurows {
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.timelineeducolumns {
    width: 30%;
    height: 100%;
    background: rgb(16,86,147);
    justify-content: center;
    display: flex;
    align-items: center;
}

#timelineedurow1 {
    position: absolute;
    left: -1900px;
    position: relative;
    -webkit-animation: slideright .5s ease forwards;
    animation: slideright .5s ease forwards;
    animation-delay: 3s;
}

#timelineedurow2 {
    position: absolute;
    right: -1900px;
    position: relative;
    -webkit-animation: slideleft 1s ease forwards;
    animation: slideleft .5s ease forwards;
    animation-delay: 3s;
}

#timelineedurow3 {
    border-top: 2px solid white;
    opacity: 0;
    -webkit-animation: appear 1s 3.2s 1 forwards;
    animation: appear 1s 3.2s 1 forwards;
}

@-webkit-keyframes slideright {
    100% {
        left: 0;
    }
}

@keyframes slideright {
    100% {
        left: 0;
    }
}

@-webkit-keyframes slideleft {
    100% {
        right: 0;
    }
}

@keyframes slideleft {
    100% {
        right: 0;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
