section {
    background: #4973c1;
}

.otherbox {
    background: whitesmoke;
}

#f0, #f1, #f2, #f3 {
    height: 80%;
    width: 50px;
    position: absolute;
    top: 60px;
    display: flex;
    flex-flow: column;
    border-radius: 0 5px 5px 0;
    box-shadow: 8px 1px 4px rgba(0,0,0,0.4);
    transition: all ease 1s;
}

#f0 {
    background: pink;
    left: 0px;
}

#f1 {
    background: teal;
    left: 50px;
}

#f2 {
    background: brown;
    left: 100px;
}

#f3 {
    background: skyblue;
    left: 150px;
}

#f0:hover, #f1:hover, #f2:hover, #f3:hover {
    width: 80%;
}