/* GRID */

main {
    display: grid;
    justify-items: center;
    align-items: center;
}

/* BUTTON */

.button {
    margin: 12vh 0;
}

/* CINEMATIC LAB INTRO */

#cinematic-lab-intro {
    height: calc(100vh - 60px);
    width: 100vw;
    opacity: 0;
    background: var(--mainBlack);
    animation: dim 2.5s ease forwards;
    animation-delay: 1s;
}

#intro1 {
    margin-top: 25vh;
    color: var(--mainBlue);
    font-size: 18vw;
    text-align: center;
}

#intro1 span {
    opacity: 0;
    filter: blur(20vw);
    animation: blurry 4s ease forwards;
}

#intro1 span:nth-of-type(6) {animation-delay: 3s;}
#intro1 span:nth-of-type(2) {animation-delay: 4.25s;}
#intro1 span:nth-of-type(7) {animation-delay: 5.5s;}
#intro1 span:nth-of-type(3) {animation-delay: 6.75s;}
#intro1 span:nth-of-type(1) {animation-delay: 8s;}
#intro1 span:nth-of-type(5) {animation-delay: 9.25s;}

#intro2 p {
    opacity: 0;
    color: var(--darkOrange);
    font-size: 5vw;
    text-align: center;
    animation: intro2appear 2s ease forwards;
    animation-delay: 14s;
}

@keyframes dim {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes blurry {
    0% {filter: blur(20vw);opacity:0;}
    100% {filter: blur(0); opacity:1;}
}

@keyframes intro2appear {
    0% {opacity:0;}
    100% {opacity:1;}
}