/* GRID */

main {
    display: grid;
    justify-items: center;
    align-content: center;
    background: var(--mainBlack);
}

/* CINEMATIC LAB INTRO */

#cinematic-lab-intro {
    height: calc(100vh - 40px);
    opacity: 0;
    animation: dim 2s ease forwards;
}

#intro1 {
    margin-top: 10vh;
    color: var(--mainBlue);
    font-size: 18vw;
    text-align: center;
}

#intro1 span {
    opacity: 0;
    filter: blur(4vw);
    animation: blurry 1.5s ease forwards;
}

#intro1 span:nth-of-type(6) {animation-delay: .5s;}
#intro1 span:nth-of-type(2) {animation-delay: .8s;}
#intro1 span:nth-of-type(7) {animation-delay: 1.2s;}
#intro1 span:nth-of-type(3) {animation-delay: 2s;}
#intro1 span:nth-of-type(1) {animation-delay: 2.5s;}
#intro1 span:nth-of-type(5) {animation-delay: 3s;}

#intro2 p {
    opacity: 0;
    color: var(--darkOrange);
    font-size: 5vw;
    text-align: center;
    animation: intro2appear 1.25s ease forwards;
    animation-delay: 4.5s;
}

#teaser-p {
    width: 190px;
    margin: 10px auto 0;
    animation: appear 1.25s ease forwards;
    animation-delay: 5s;
    opacity: 0;
}

#teaser {
    text-align: center;
    color: rgb(255,255,255);
}

@keyframes dim {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes blurry {
    0% {filter: blur(4vw);opacity:0;}
    100% {filter: blur(0); opacity:1;}
}

@keyframes intro2appear {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}