body {
    overflow: hidden;
}

/* Panels */

#leftpanel, #rightpanel {
    width: 150%;
    height: calc(100% - 70px);
    position: absolute;
    top: 0;
    color: white;
    transform: skew(-45deg);
    background: orangered;
    outline: 1px solid black;
    z-index: 4;
}

#leftpanel {
    left: -250%;
    animation: 1s ease-in 2s forwards slideright;
}

#leftpanel.move {
    transition: all 0.4s ease-in;
    background: red;
}

#rightpanel {
    right: -250%;
    animation: 1s ease-in 2s forwards slideleft;
}

#leftpanel p, #rightpanel p {
    text-align: center;
    font-size: 36px;
    transform: skew(45deg);
}

#title1 {
    position: absolute;
    top: 50%;
    right: 25px;
}

#title2 {
    position: absolute;
    top: 50%;
    left: 25px;
}

/* Entry Pad */

#entrypad {
    width: 100px;
    height: 50px;
    position: absolute;
    top: calc(50% + 60px);
    left: 90px;
    transform: skew(45deg);
    outline: 6px solid black;
    box-shadow: inset 0 0 10px 2px black;
}

input[type=checkbox] {
    display: hidden;
    opacity: 1;
}

/*input[type=checkbox]:checked ~ #leftpanel {
    background: red;
    transition: all 0.4s ease-in;
}*/

label {
    width: 50px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 2px;
    background: gray;
    z-index: 5;
    cursor: pointer;
    user-select: none;
}

/* Back Wall */

#backwall {
    width: 100%;
    height: 100%;
    background: rgb(90,0,0);
}

/* Trello Board */

#trelloboard {
    width: 130px;
    height: 90px;
    position: absolute;
    top: 80px;
    left: calc(50% - 220px);
    display: flex;
    justify-content: space-around;
    background: rgb(180,210,250);
    box-shadow: 0px 2px 2px black;
}

#trelloboard:hover {
    background: rgba(180,210,250,0.9);
}

.tb {
    width: 38px;
    height: 80px;
    margin: 5px 0 0 0;
    border-radius: 5px;
    background: rgba(0,0,100,.4);
}

.tb p {
    width: 80%;
    margin: 0 auto;
    color: whitesmoke;
    font-size: 6px;
    text-align: center;
}

.tb:nth-child(1) p {
    border-bottom: 1px solid red;
}

.tb:nth-child(2) p {
    border-bottom: 1px solid orange;
}

.tb:nth-child(3) p {
    border-bottom: 1px solid green;
}

.tbc {
    width: 20px;
    height: 15px;
    margin: 4px auto;
    background: rgb(240,240,240);
}

/* To Do Board */

#todoboard {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 80px;
    left: calc(50% + 100px);
    background: rgb(210,210,210);
    box-shadow: 0px 2px 2px black;
}

#todoboard:hover {
    background: rgba(210,210,210,0.9);
}

#todoboard:hover .tdb {
    background: rgba(240,240,240,0.8);
}

#todoboard p {
    width: 100%;
    margin: 5px auto;
    text-align: center;
    font-size: 12px;
    color: black;
}

.tdb {
    width: 90px;
    height: 20px;
    margin: 0 auto 4px auto;
    background: rgb(240,240,240);
}

#tdb1 {
    outline: 1px solid #E91E63;
}

#tdb2 {
    outline: 1px solid #2196F3;
}

#tdb3 {
    outline: 1px solid #FF5722;
}

/* Clock */

#clockcontainer {
    width: 80px;
    height: 64px;
    position: absolute;
    top: 80px;
    left: calc(50% - 40px);
    background: cornflowerblue;
    color: #fff;
    border-radius: 5%;
    box-shadow: 0 2px 2px rgb(0,0,0);
    font-family: zekton;
}

#clockcontainer p {
    padding: 6px 0px 0px 0px;
    margin: 0;
    text-align: center;
    font-size: 12px;
}

#clock {
    margin: 0px auto 0 auto;
    font-size: 30px;
    text-align: center;
}

/* Todays Date */

#datecalendar {
    width: 80px;
    height: 90px;
    position: absolute;
    top: 80px;
    left: 110px;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 5%;
    box-shadow: 0 2px 2px rgb(0,0,0);
}

#datecalendar p {
    font-family: zekton;
    padding: 5px 0px 0px 0px;
    margin: 0px;
    color: #fff;
    text-align: center;
}

#calendar-day {
    font-size: 12px;
}

#calendar-month-year {
    font-size: 10px;
}

#calendar-date {
    font-size: 32px;
    padding: 0px;
}

/* Little Calendar */

#calendarContainer {
    width: 140px;
    margin: 0 auto;
    position: absolute;
    top: 190px;
    left: 80px;
    box-shadow: 0px 2px 2px rgb(0,0,0);
    font-family: zekton;
    font-size: 10px;
    background-color: #fff;
}

#calendarMonth {
    width: 140px;
    height: 18px;
    background-color: cornflowerblue;
    color: #fff;
    text-align: center;
    padding-top: 4px;
}

.day {
    width: 140px;
    text-align: center;
    background-color: #fff;
}

.zero {
    color: rgba(255,255,255,0);
}

.today {
    background-color: #8db1f4;
}


/* Scientist */

#scientistcontainer {
    width: 90px;
    height: 286px;
    margin: 0 auto;
    position: absolute;
    top: 310px;
    left: calc(50% - 100px);
    /*outline: 1px solid black;*/
}

#face::before {
    width: 90px;
    height: 45px;
    margin: -45px 0 0 0;
    content: "";
    display: block;
    border-radius: 90px 90px 0 0;
    background: rgb(30,30,30);
}

#face {
    width: 90px;
    height: 56px;
    margin: 0px 0px;
    position: absolute;
    border-radius: 0 0 90px 90px;
    background: rgb(250,180,120);
}

#eyebrowl, #eyebrowr {
    width: 19px;
    height: 8px;
    position: absolute;
    border-radius: 12px 12px 0 0;
    border-top: 2px solid black;
}

#eyebrowl {
    margin: 10px 0 0 11px;
}

#eyebrowr {
    margin: 10px 0 0 60px;
}

#eyel, #eyer {
    width: 12px;
    height: 9px;
    position: absolute;
    border-radius: 100%;
    background: rgb(140,100,80);
    animation: blinking 3s infinite;
}

#eyel {
    margin: 15px 0 0 15px;
}

#eyer {
    margin: 15px 0 0 63px;
}

#mouth {
    width: 12px;
    height: 6px;
    margin: 40px 0 0 40px;
    position: absolute;
    border-radius: 0 0 12px 12px;
    background: rgb(150,0,0);
}

#labcoat {
    width: 90px;
    height: 120px;
    margin: 60px 0 0 0;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    background: rgb(180,180,250);
}

#pants {
    width: 90px;
    height: 20px;
    margin: 100px 0 0 0;
    background: rgb(0,0,0);
}

#pantsleft, #pantsright {
    width: 36px;
    height: 88px;
    position: absolute;
    border-right: 1px solid rgb(100,100,100);
    background: rgb(0,0,0);
}

#pantsleft {
    left: 4px;
}

#pantsright {
    right: 4px;
}

#shoeleft, #shoeright {
    width: 38px;
    height: 20px;
    position: absolute;
    top: 260px;
    border-radius: 15px 15px 0 0;
    border-bottom: 4px solid rgb(40,40,40);
    background: rgb(20,20,20);
}

#shoeleft {
    left: 3px;
}

#shoeright {
    right: 4px;
}

#labcoatleftside, #labcoatrightside {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    border-radius: 20px;
    transform: rotateZ(45deg);
}

#labcoatleftside {
    left: -45px;
    background: rgb(240,240,240);
}

#labcoatrightside {
    right: -45px;
    background: rgb(240,240,240);
}

#labcoatleftbottom, #labcoatrightbottom {
    width: 43px;
    height: 80px;
    position: absolute;
    top: 40px;
    background: rgb(240,240,240);
}

#labcoatleftbottom {
    left: 0px;
    border-radius: 0 0 4px 0;
}

#labcoatrightbottom {
    right: 0px;
    border-radius: 0 0 0 4px;
}

#armleft, #armright{
    width: 25px;
    height: 80px;
    position: absolute;
    top: 60px;
    border-radius: 20px;
    background: rgb(240,240,240);
}

#armleft {
    left: -30px;
}

#armright {
    right: -30px;
}

#handleft, #handright {
    width: 25px;
    height: 14px;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 20px 20px;
    background: rgb(250,180,120);
}

/* CellPhone */

#cellphone {
    width: 22px;
    height: 40px;
    position: absolute;
    top: 356px;
    left: 180px;
    border-radius: 5px;
    border: 1px solid rgb(150,150,150);
    background: rgb(0,0,0);
}

#speaker {
    width: 8px;
    height: 1px;
    margin: 2px auto;
    background: rgb(100,100,100);
}

#screen {
    width: 16px;
    height: 18px;
    margin: 4px auto;
    padding: 4px 0 0 0;
    background: rgb(100,100,100);
}

#button {
    width: 2px;
    height: 2px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid rgb(120,120,120);
    background: rgb(20,20,20);
}

#app {
    width: 8px;
    height: 8px;
    margin: 0 auto;
    border-radius: 2px;
    background: cornflowerblue;
    opacity: 0;
}

#cellphone:hover #screen {
    background: rgb(200,200,200);
}

#cellphone:hover #app {
    opacity: 1;
}

/* Book Shelf */

#bookshelfcontainer {
    width: 200px;
    height: 160px;
    position: absolute;
    top: 400px;
    left: 40px;
}

#bookshelfcontainer p {
    text-align: center;
    margin: 10px 0 0 0;
    color: rgb(0,0,0);
}

#topshelf, #bottomshelf {
    width: 100%;
    height: 80px;
    position: absolute;
    border: 10px solid rgb(160,110,80);
    background: rgb(140,100,70);
    box-shadow: inset 0 0 20px 2px;
}

#topshelf {
    position: relative;
    top: 0;
    left: 0;
}

#bottomshelf {
    position: relative;
    top: -10px;
    left: 0;
}

#book1, #book2 {
    width: 40px;
    height: 50px;
    position: absolute;
    bottom: 2px;
    border-radius: 1px;
    background: rgb(200,200,200);
    box-shadow: 0 2px 2px 0 rgb(0,0,0);
}

#book1 {
    left: 40px;
    border-left: 4px solid rgb(200,100,20);
}

#book2 {
    right: 40px;
    border-left: 4px solid rgb(200,150,50);
}

#book1 p, #book2 p {
    color: rgb(0,0,0);
    font-size: 10px;
}

#book1:hover p, #book2:hover p {
    color: rgb(250,250,250);
}

#japanesefolder1, #japanesefolder2, #japanesefolder3 {
    width: 60px;
    height: 40px;
    position: absolute;
    bottom: 4px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0px black;
}

#japanesefolder1 {
    left: 15px;
    background: orangered;
}

#japanesefolder2 {
    left: 20px;
    background: teal;
}

#japanesefolder3 {
    left: 25px;
    background: brown;
}

#japanesefolder1:hover p {
    color: rgb(250,250,250);
}



/* Table */

#tablecontainer {
    width: 400px;
    height: 130px;
    margin: 0 auto;
    position: absolute;
    top: 456px;
    left: 0;
    right: 0;
}

#table {
    width: 400px;
    height: 10px;
    margin: 0 auto;
    position: relative;
    top: 0px;
    left: 0;
    right: 0;
    border-top: 4px solid rgb(140,80,50);
    background: rgb(120,80,60);
}

#tablelegl, #tablelegr {
    width: 10px;
    height: 120px;
    position: absolute;
    top: 15px;
    background: rgb(120,80,60);
}

#tablelegl {
    left: 20px;
}

#tablelegr {
    right: 20px;
}

#tablesmallcontainer {
    width: 120px;
    height: 130px;
    position: absolute;
    top: 456px;
    left: 75%;
}

#tablesmall {
    width: 200px;
    height: 10px;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    border-top: 4px solid rgb(140,80,50);
    background: rgb(120,80,60);
}

/* Window */

#windowcontainer {
    width: 200px;
    height: 180px;
    margin: 0 auto;
    position: absolute;
    top: 190px;
    left: 60%;
    border: 6px solid rgb(200,200,200);
}

.sky {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: #1386d8;
}

.cloud {
    width: 100%;
    height: 200px;
    position: absolute;
    background: transparent url(../IMAGES/frontcloud.png) 0 0 no-repeat;
    background-size: 25%;
}

.fcloud01 {
    top: 10px;
    z-index: 1;
    -webkit-animation-name: drift;
    -webkit-animation-duration: 30s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-name: drift;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.fcloud02 {
    top: 20px;
    z-index: 3;
    -webkit-animation-name: drift;
    -webkit-animation-duration: 22s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: backwards;
    animation-name: drift;
    animation-duration: 22s;
    animation-timing-function: linear;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}

.fcloud03 {
    top: 40px;
    z-index: 2;
    -webkit-animation-name: drift;
    -webkit-animation-duration: 26s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-name: drift;
    animation-duration: 26s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes slideright {
    0% {
        left: -250%;
    }
    60% {
        left: -100%;
    }
    80% {
        left: -102%;
    }
    100% {
        left: -100%;
    }
}

@keyframes slideleft {
    0% {
        right: -250%;
    }
    60% {
        right: -100%;
    }
    80% {
        right: -102%;
    }
    100% {
        right: -100%;
    }
}

@-webkit-keyframes drift {
    from{
        -webkit-transform: translateX(-250px);
    }
    to{
        -webkit-transform: translateX(600px);
    }
}

@keyframes drift {
    from{
        transform: translateX(-250px);
    }
    to{
        transform: translateX(200px);
    }
}

@keyframes blinking {
    0% {
        height: 9px; margin-top: 15px;
    }
    90% {
        height: 9px; margin-top: 15px;
    }
    100% {
        height: 1px; margin-top: 20px;
    }
}