main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
}

/* TABS */

/*nav*/
label {
    color: var(--midGray);
    width: 100%;
    height: 10vh;
    border-top: 2px solid var(--veryLightGray);
    background: var(--veryLightGray);
    display: grid;
    align-content: center;
    justify-content: center;
}

/*nav*/
label:hover {
    color: var(--lightBlue);
    border-top: 2px solid var(--lightBlue);
    cursor: pointer;
}

input, .content-container {
    display: none;
}

input:checked + label {
    border-top: 2px solid var(--mainBlue);
    color: var(--mainBlue);
    background: var(--mainWhite);
}

#tab-read:checked ~ #content-read, #tab-watch:checked ~ #content-watch {
    display: grid;
}

.content-container {
    grid-column: 1/-1;
    padding: 2vh 0 4vh 0;
}

/* SCROLLING CONTENT */

.scrolling-topics {
    display: grid;
    grid-template-columns: 2vw 1fr 2vw;
    margin-bottom: 2vw;
}

.scrolling-topics > * {
    grid-column: 2/-2;
}

.scrolling-topics h1 {
    font-size: 4.75vw;
}

.scrolling-items {
    display: grid;
    grid-template-columns: repeat(8,calc(25% - 4vw));
    grid-template-rows: 1fr 2vw;
    overflow-x: scroll;
}

.scrolling-item h3 {
    width: 91%;
    margin-bottom: 20px;
    text-align: center;
}

.scrolling-item img {
    width: 18vw;
}

.scrolling-item h3 a {
    text-decoration: none;
}

#content-read #neuronal-anatomy {margin-top: -70px; padding-top: 70px;}

#content-watch .scrolling-items {
    grid-column-gap: 4vw;
    grid-template-columns: repeat(8,40vw);
}

#content-watch .scrolling-item {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

#content-watch .scrolling-item iframe ,#content-watch .scrolling-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#yt-container {
    margin: 25px auto 0 auto;
    text-align: center;
}

#yt-container p {
    margin-bottom: 5px;
}