section {
    background: #4973c1;
}

.hlinks {
    height: 40%;
    width: 90%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 25% 0 0 0;
}

.vlinks {
    height: 90%;
    width: 20%;
    border-top: 2px solid #cccccc;
    padding: 10px 0 0 0;
}

.title {
    font-size: 19px;
    color: whitesmoke;
    margin: 0 0 12px 0;
}

.links {
    color: #cccccc;
    margin: 0 0 8px 0;
}

a p:hover {
    color: white;
}

.ending {
    color: #dddddd;
    font-size: 14px;
    text-align: center;
    bottom: 100px;
}

@media all and (max-width: 600px) {
    .hlinks {width: 250px; flex-flow: column; margin: 50px 0 0 0;}
    .vlinks {width: 100%; text-align: center; margin: 10px auto 0 auto;}
    .links {margin: 0 0 4px 0;}
    .title {margin: 0 0 5px 0;}
    .ending {position: absolute; bottom: 75px; left: 0; right: 0; margin: 0 auto;}
}