@charset "UTF-8";

/* RESET DEFAULT STYLES */

header,footer,nav,main,section,aside,div,root,summary,details,article,button {display: block;}

html,body,header,footer,nav,main,section,aside,summary,details,article,div,h1,h2,h3,h4,p,img,ul,ol,li,button {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, a {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

ol {
    list-style-type: upper-roman;
}

/* BOX SIZING */

html {box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit;}

/* CUSTOM ITEMS */

:root {
    --mainBlue: rgba(100,150,240,.85);
    --lightBlue: rgba(100,150,240,.50);
    --mainOrange: rgb(250,180,80);
    --darkOrange: rgb(240,170,80);
    --mainBlack: rgb(20,20,20);
    --lightBlack: rgb(80,80,80);
    --mainGray: rgb(100,100,100);
    --midGray: rgb(150,150,150);
    --lightGray: rgb(200,200,200);
    --smokeGray: rgba(200,200,200,.50);
    --veryLightGray: rgb(240,240,240);
    --mainWhite: rgb(253,253,253);
    --darkWhite: rgb(200,200,200);
    --gridHeight: calc(25vh - 15px);
}

@font-face {
    font-family: 'zekton';
    src: url(../Fonts/zekton.ttf) format('truetype');
}

html, h1, h2, h3, h4, p, a, button {
    font-family: 'Advent Pro', zekton, sans-serif;
}

/* CUSTOM DEFAULT STYLES */

html {
    font-size: 21px;
    /*font-size: calc(18px + (26 - 18)) * (100vw - 360px) / (800 - 360);*/
    /*font-size: calc(0.8em + 1vw);*/
}

main {
    margin-top: 60px;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: 200;
}

p {
    color: var(--lightBlack);
}

body {
    background: var(--mainWhite);
}

/* HEADER AND FOOTER */

header {
    height: 60px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--mainWhite);
}

footer {
    background: var(--lightBlack);
}

/* NAVIGATION */

header nav {
    display: grid;
    grid-gap: 10vw;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
    margin-top: 5px;
    padding-right: 50px;
}

header nav img {
    height: 50px;
}

.active-item {
    color: var(--mainBlue);
    border-bottom: 1px solid var(--mainBlue);
}

header nav a {
    padding: 12px 0;
    width: 50px;
    text-align: center;
}

header nav a:hover p {
    color: var(--lightBlue)
}

footer nav {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    /*padding: 40px 40px 0 40px;*/
    height: 250px;
    color: var(--darkWhite);
}

footer nav a {
    padding: 16px 2px;
}

footer a {
    color: var(--darkWhite);
}

/* BUTTONS */

.button {
    display: grid;
    width: 150px;
    height: 50px;
    background: var(--mainOrange);
    border: none;
    align-self: center;
    justify-self: center;
}

.button:hover {
    background: var(--darkOrange);
}

.button p {
    color: var(--mainWhite);
    align-self: center;
    justify-self: center;
}

/* MOBILE */

@media all and (max-width: 420px) {
    html {font-size: 17px;}
    h1 {font-size: 32px; font-weight: 400;}
    header nav {padding-right: 20px; grid-gap: 4vw;}
    footer nav {grid-auto-flow: row; font-size: 16px; grid-gap: 10px;}
    #terminal-text p {font-size: 15px;}
}