@charset "UTF-8";

/* RESET DEFAULT STYLES */

header, footer, nav, main, section, aside, div, root {
    display: block;
}

html, body, header, footer, nav, main, section, aside, div, h1, h2, h3, p, img, ul, li {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

h1, h2, h3, p, a {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

p {
    font-size: 1em;
}

/* CUSTOM ITEMS */

@font-face {
    font-family: 'zekton';
    src: url(../Fonts/zekton.ttf) format('truetype');
}

h1, h2, h3, p, a {
    font-family: 'Advent Pro', zekton, sans-serif;
    color: rgb(250,250,250);
}

/* BODY */

body {
    display: flex;
    flex-flow: column;
    background-color: rgb(119,164,238);
    overflow-y: scroll;
}

/* NAVIGATION */

header {
    position: fixed;
}

#main-nav , #bottom-nav {
    height: 50px;
    width: 100vw;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,.65);
}

#main-nav p , #bottom-nav p {
    width: calc(100vw/6); /*100px*/
    text-align: center;
    color: rgba(119,164,238,.7);
}

#main-nav p {
    padding: 16px 0;
}

header #main-nav a .active-color {
    color: rgb(250,150,0);
}

header #main-nav .active-color {
    padding: 16px 0;
    border-bottom: 2px solid rgb(250,150,0);
}

header #main-nav a:hover p {
    color: rgb(250,150,0);
}

footer {
    margin: 20px 0 0 0;
}

#bottom-nav #nav-site-name {
    color: rgb(150,150,150);
}

#bottom-nav a {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

#bottom-nav a img {
    height: 30px;
    padding: 10px;
}

.link-color {
    border-bottom: 1px solid rgb(250,150,0);
}

#bottom-nav a:hover p {
    color: rgb(250,150,0);
}

.link-color:hover {
    color: rgb(250,150,0);
}

/* PAGE TITLE */

#page-title {
    /*height: calc(100vh - 0px);*/ /* may need to change this does not make diff to do calc*/
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#page-title h1 {
    font-size: 3em;
    /*font-size: 8vw;*/
}

/* SECTIONS */

#table-of-contents {
    height: 100vh;
    width: 150px;
    padding: 0;
    margin: 18vh auto 0 auto;
}

#table-of-contents h1, #table-of-contents h2 {
    text-align: left;
}

#table-of-contents h1 {
    margin: 20px 0 0 0;
    font-size: 2.2em;
}

#table-of-contents h2 {
    margin: 0 0 0 20px;
    font-size: 1.8em;
    color: rgba(250,250,250,.8);
}

.content {
    padding: 0 5vw 2vw 5vw;
}

section h1 {
    padding: 2vw 0;
    text-align: center;
}

.align-first {
    margin: 28px 0;
    display: flex;
    flex-flow: row;
}

.align-second-1 {
    width: 58%;
    padding: 0 2% 0 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.align-second-1 p {
    color: rgb(240,240,240);
}

.paragraph-space {
    height: 1em;
    width: 100%;
}

.align-second-2 {
    width: 40%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.align-second-2 img {
    width: 100%;
}

.quote {
    width: 86%;
    margin: 0 auto;
    display: flex;
}

.left-quote , .right-quote {
    font-size: 4em;
}

.quote-content {
    padding: .4em .5em 0 .5em;
    font-size: 1.4em;
}

/* About Me */



/* Mobile */

@media all and (max-width: 650px) {
    .align-first { flex-flow: column; }
    .align-first div { width: 100%; }
    .align-first div img { width: 98%; margin: 2em 0; }
}

@media all and (max-width: 800px) and (min-width: 651px){
    .align-first { flex-flow: column; }
    .align-first div { width: 100%; }
    .align-first div img { width: 70%; margin: 2em 0; }
}

#toggle { width: 0; height: 0; position: absolute; top: 0; left: 0; right: 0; margin: 0 auto; opacity: 0; display: none; z-index: -1; }

@media all and (max-width: 650px) {
    /*#page-title h1 {font-size: 12vw;}*/
    #main-nav { height: 365px; flex-wrap: wrap; }
    #main-nav p { width: 100vw; }
    #main-nav .mobilemenu { height: 50px; width: 50px; margin: 0 auto; }
    #main-nav { position: fixed; top: 0; transition: transform 0.4s ease-in; }
    #toggle:checked + #main-nav { transform: translateY(-314px); }
    #main-nav .showmenu { height: 50px; position: absolute; bottom: 0; left: 0; right: 0; cursor: pointer; }
    header #main-nav .active-color { border-bottom: none; }
    .active-color { background-color: rgba(0,0,0,.4); }
    #bottom-nav { height: 100px; flex-wrap: wrap; background-color: rgba(0,0,0,0); }
    #bottom-nav a img { margin: 0; }
    #bottom-nav p { width: 100%; }
    #navprevious { order: 1; }
    #nav-site-name { order: 3; width: 100%; padding: 14px 0 0 0; margin: 1px 0 0 0; text-align: center; height: 50px; background-color: rgba(0,0,0,0.65); }
    #nav-continue { order: 2; }
    #nav-previous , #nav-continue { width: calc(50% - 4px); margin: 0 1px; background-color: rgba(0,0,0,0.65); border: 1px solid black; }
}