@charset "UTF-8";

/* RESET DEFAULT STYLES */

header,footer,nav,main,section,aside,div,root,summary,details,article,button,cite {display: block;}

html,body,header,footer,nav,main,section,aside,summary,details,article,div,h1,h2,h3,h4,p,img,ul,ol,li,button,cite {margin: 0; padding: 0;}

a,cite {text-decoration: none;font-style:normal;}

ul, ol {list-style-type: none;} /* upper-roman */

/* BOX SIZING */

html {box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit;}

/* CUSTOM ITEMS */

:root {
    --mainBlue: rgba(100,150,240,.85);
    --lightBlue: rgba(100,150,240,.50);
    --veryLightBlue: rgba(100,150,240,.25);
    --mainOrange: rgb(250,180,80);
    --darkOrange: rgb(240,170,80);
    --mainBlack: rgb(20,20,20);
    --lightBlack: rgb(80,80,80);
    --mainGray: rgb(100,100,100);
    --midGray: rgb(150,150,150);
    --lightGray: rgb(200,200,200);
    --midLightGray: rgb(220,220,220);
    --smokeGray: rgba(200,200,200,.50);
    --veryLightGray: rgb(240,240,240);
    --mainWhite: rgb(253,253,253);
    --darkWhite: rgb(250,250,250);
    --gridHeight: calc(33vh - 17px);
    --h2Gray: rgb(147,147,147);
/*     --veryDarkOrange: rgb(180,110,10); */
}

html, h1, a, nav, button, header, footer, nav a p, #subnav a p {
    font-family: 'Advent Pro', sans-serif;
}

h2, p {
    font-family: 'Comfortaa', sans-serif;
}

/* CUSTOM DEFAULT STYLES */

html {scroll-behavior: smooth;}

main {
    margin-top: 60px;
}

h1 {
    height: 60px;
    font-size: 40px;
    font-weight: 100;
}

h2 {
    height: 60px;
    font-size: 26px;
    font-weight: 300;
    color: var(--h2Gray);
}

p {
    font-size: 16px;
    font-weight: 300;
    color: var(--mainBlack);
}

body {
    background: var(--mainWhite);
}

/* HEADER AND FOOTER */

header {
    width: 100vw;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--mainWhite);
    z-index: 4;
}

footer {
    width: 100%;
    padding: 40px 0;
    text-align: center;
    background: var(--lightBlack);
}

/* NAVIGATION */

header nav {
    padding: 0 50px 0 10px;
    display: grid;
    gap: 0vw 10vw;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
}

header nav img {
    height: 36px;
    margin: 2px 0 0 0;
}

.active-item {
    color: var(--mainBlue);
    border-bottom: 1px solid var(--mainBlue);
}

header nav a {
    padding: 10px 0;
    width: 50px;
    height: 40px;
    text-align: center;
}

header nav a:nth-of-type(1) {
    padding: 0px;
}

header nav a:hover p {
    color: var(--lightBlue);
}

footer nav {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    color: var(--lightGray);
}

footer a , footer p {
    color: var(--lightGray);
}

footer div {
    padding: 40px 0 0;
    text-align: center;
}

footer div p {
    width: 94%;
    margin: 0px auto 10px;
    font-size: 12px;
}

footer div p:nth-of-type(2) {
    max-width: 450px;
    text-align: left;
}

/* TEXT LINKS */

.in-text-link {
    color: var(--mainBlack);
    font-family: 'Comfortaa' , sans-serif;
    border-bottom: 1px solid var(--mainOrange);
}

.post-text-link {
    color: var(--mainBlack);
    max-height: 10px;
    background: var(--mainOrgange);
    border-bottom: 1px solid var(--mainOrange);
}

/* GHOST LINKS */

.ghost-link {
    padding: 4px 10px;
    text-align: center;
    border: 1px solid var(--lightGray);
    color: var(--mainBlack);
}

.ghost-link:hover {
    background-color: var(--veryLightBlue);
}

/* BUTTONS */

.button {
    display: grid;
    width: 150px;
    height: 50px;
    background: var(--mainOrange);
    border: none;
    align-self: center;
    justify-self: center;
}

.button:hover {
    background: var(--darkOrange);
}

.button p {
    color: var(--mainWhite);
    align-self: center;
    justify-self: center;
    font-size: 18px;
}

/* MOBILE */

@media all and (max-width: 420px) {
    header nav {padding-right: 20px; grid-gap: 4vw;}
    footer nav {grid-auto-flow: row; grid-gap: 10px;}
}
