.mindmapcontainer {
    width: 100%;
    margin: 100px auto 0 auto;
}

.timeline {
    position: relative;
    margin: 0;
}

.panelcontainer {
    width: 100%;
    height: 650px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.backgroundslider {
    width: inherit;
    height: inherit;
    position: absolute;
}

.backgroundslider img {
    width: 1100px;
    height: 580px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.panelslider {
    width: 100%;
    position: absolute;
}

.panel {
    width: 500px;
    position: absolute;
}

.label {
    margin: 50px 0 0 0;
    color: rgba(16,86,147,.8);
    font-family: ethnocentric;
    font-size: 30px;
    text-align: center;
}

.panelcontent {
    height: 300px;
    position: relative;
    padding: 20px;
    margin: 20px 100px 0 100px;
    opacity: 0.2;
    background: whitesmoke;
    box-shadow: 0 4px 4px 2px rgba(25,25,25,0.6);
    transition: opacity .3s;
}

.panelcontent:hover {
    opacity: 0.9;
}

.panelcontent i {
    width: 100%;
    text-align: center;
}

.title {
    margin: 10px 0;
    font-size: 20px;
}

.panelcontent p {
    color: cornflowerblue;
}

.timeline nav {
    width: inherit;
    position: absolute;
    bottom: 140px;
    left: 0px;
    text-align: center;
    font-family: zekton;
}

.timeline nav a {
    display: inline-block;
    padding: 5px 10px;
    color: rgba(16,86,147,.6);
    text-decoration: none;
}

.timeline nav a:hover {
    background-color: rgba(16,86,147,.2);
}

.timeline nav a:first-child {
    border-left-width: 6px;
}

.timeline nav a:last-child {
    border-right-width: 6px;
}

.timeline nav a.selected {
    background-color: rgba(16,86,147,.6);
    color: rgba(255,255,255,.50);
}
