section {
    justify-content: flex-start;
    overflow: auto;
    font-family: 'Roboto Slab', Arial;
    background: whitesmoke;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

p {
    font-family: Arial;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

a:hover {
    color: orange;
}

.headerspace {
    width: 100%;
    height: 80px;
}

.review {
    width: 100%;
    height: calc(100% - 80px);
}

.content {
    width: 80%;
    padding: 20px 10%;
}

.vitems {
    display: flex;
    flex-flow: column;
}

.hitems {
    display: flex;
    flex-flow: row;
}

#titleandauthor {

}

#titleinfo h1 {
    font-size: 28px;
}

#authorinfo {
    margin: 20px 0 0 0;
    display: flex;
    flex-flow: row;
}

#authorinfo .vitems {
    width: 150px;
}

#overview {

}

#outline {

}

#outline .vitems:first-child {
    margin: 0 50px 0 0;
}

#outline .vitems:last-child {
    font-style: italic;
}

#tldr {

}

#tldr .vitems:first-child {
    margin: 0 50px 0 0;
}

#ratings {

}

.ratings {
    height: 100px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    border: 2px solid orange;
}

.ratings .vitems {
    justify-content: space-around;
    text-align: center;
}

.ratings {
    font-size: 18px;
}

.ratings i {
    font-size: 18px;
    color: orange;
}