section {
    justify-content: flex-start;
    overflow: auto;
    font-family: 'Roboto Slab', Arial;
    background: whitesmoke;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

p {
    font-family: Arial;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

a:hover {
    color: orange;
}

.headerspace {
    width: 100%;
    height: 80px;
}

.review {
    width: 100%;
    height: calc(100% - 80px);
}

.content {
    width: 80%;
    padding: 20px 10%;
}

.vitems {
    display: flex;
    flex-flow: column;
}

.hitems {
    display: flex;
    flex-flow: row;
}

#titleandauthor {

}

#titleinfo h1 {
    font-size: 28px;
}

#authorinfo {
    margin: 20px 0 0 0;
    display: flex;
    flex-flow: row;
}

#authorinfo .vitems {
    width: 150px;
}

#overview {

}

#outline {

}

#outline .vitems:first-child {
    margin: 0 50px 0 0;
}

#outline .vitems:last-child {
    font-style: italic;
}

#tldr {

}

#tldr .vitems:first-child {
    margin: 0 50px 0 0;
}

.fullchart {
    width: calc(100% - 90px);
    /*max-width: ;*/
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
    background: darkorange;
}

.fullchart div h2 {
    color: whitesmoke;
    margin: 0 0 20px 0;
}

.fullchart .labels h2:first-child {
    color: darkorange;
}

.fullchart p {
    margin: 8px 0;
    font-size: 14px;
}

.fullchart p:last-child {
    margin: 8px 0 0 0;
}

.labels {
    text-align: left;
}

.fullchart div:first-child, .fullchart div:last-child {
    border-right: none;
}

.fullchart div {
    width: 100%;
    border-right: 1px solid orange;
}

.fullchart i {
    font-size: 18px;
}

.mobilechart {
    width: calc(100% - 40px);
    padding: 20px;
    background: darkorange;
}

.mobilechart h2 {
    width: 100%;
    margin: 0 0 20px 0;
    color: whitesmoke;
    text-align: center;
}

.mobilechart .vitems .hitems {
    justify-content: space-around;
}

.mobilechart .vitems {
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid orange;
}

.mobilechart .hitems p {
    width: 50%;
    margin: 0 auto;
}

.mobilechart .hitems p:first-child {
    text-align: left;
}

.mobilechart .hitems p:last-child {
    text-align: center;
}



#ratings {

}

.ratings {
    height: 100px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    border: 2px solid orange;
}

.ratings .vitems {
    justify-content: space-around;
    text-align: center;
}

.ratings {
    font-size: 18px;
}

.ratings i {
    font-size: 18px;
    color: orange;
}

@media (min-width: 756px) {
    .mobilechart {display: none;}
}

@media (max-width: 755px) {
    .fullchart {display: none;}
    .content {width: 100%; padding: 20px 0;}
    .ratings {width: calc(100% - 4px);}
}