section {
    justify-content: flex-start;
    /*justify-content: center;*/
    overflow: auto;
    font-family: 'Roboto Slab', Arial;
    background: whitesmoke;
}

section p {
    font-family: Arial;
}

.headerspace {
    width: 100%;
    height: 80px;
    background: orange;
}

.review {
    width: 100%;
    height: calc(100% - 80px);
}

.content {
    width: 80%;
    height: 100%; /*this may need to be deleted or changed based on how long the main review section gets*/
    /*padding: 20px 10% 40px 10%;*/
    padding: 0px 10%;
}

.vitems {
    display: flex;
    flex-flow: column;
}

.hitems {
    display: flex;
    flex-flow: row;
}

#titleandauthor {
    background: orange;
}

#titleinfo {
    font-size: 20px;
}

#authorinfo {
    margin: 20px 0 0 0;
    display: flex;
    flex-flow: row;
}

#authorinfo .vitems {
    width: 150px;
}

#introduction {
    background: salmon;
}

#outline {
    background: pink;
}

#outline .vitems:first-child {
    margin: 0 50px 0 0;
}

#outline .vitems:last-child {
    font-style: italic;
}

#tldr {
    background: coral;
}

#tldr .vitems:first-child {
    margin: 0 50px 0 0;
}