root {
  display: block;
}

body {
  background: #2b491a;
  animation: backout 3s ease 12s 1 forwards;
}

#removeme {
  animation: byebye 2s ease 12s 1 forwards;
}

#showme {
    
}

.wrapper {
  position: relative;
  height: 100%;
  width: 94%;
  margin: 25% 0 0 6%;
  opacity: 1;
  -webkit-perspective: 800;
          perspective: 800;
  -webkit-perspective-origin: 50% 100px;
          perspective-origin: 50% 100px;
  -webkit-animation: fadeout 2s ease 12s 1 forwards;
          animation: fadeout 2s ease 12s 1 forwards;
}

#cube {
  position: relative;
  width: 200px;
  height: 200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: cube 10s ease-out 1s 1 forwards;
          animation: cube 10s ease-out 1s 1 forwards;
}

.side {
  position: absolute;
  height: 200px;
  width: 200px;
  background: -webkit-linear-gradient(305deg, #78c192, #102d09);
  background: linear-gradient(145deg, #78c192, #102d09);
  color: #fff;
  border-radius: 0px;
  border: 3px solid #fff;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#side1 {
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}

#side2 {
  -webkit-transform: translateZ(-100px) rotateY(180deg);
          transform: translateZ(-100px) rotateY(180deg);
}

#side3 {
  -webkit-transform: rotateX(-90deg) translateY(-100px);
          transform: rotateX(-90deg) translateY(-100px);
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
}

#side4 {
  -webkit-transform: rotateX(270deg) translateY(100px);
          transform: rotateX(270deg) translateY(100px);
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
}

#side5 {
  -webkit-transform: rotateY(270deg) translateX(-100px);
          transform: rotateY(270deg) translateX(-100px);
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
}

#side6 {
  -webkit-transform: rotateY(-270deg) translateX(100px);
          transform: rotateY(-270deg) translateX(100px);
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
}

.element {
  font-size: 120px;
  line-height: 200px;
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.topleft {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 17px;
  font-weight: bold;
}

.topright {
  position: absolute;
  right: 5px;
  top: 10px;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
}

.bottom1 {
  position: absolute;
  left: 6px;
  top: 140px;
  font-size: 25px;
  font-weight: bold;
}

.bottom2 {
  position: absolute;
  left: 6px;
  top: 168px;
  font-size: 18px;
}

.text {
  color: #fff;
  font-size: 135px;
  position: absolute;
  top: 12px;
  left: 220px;
  font-family: Georgia;
  opacity: 0;
}

.ruben {
  -webkit-animation: textone 4s ease-out 1.6s 1 normal;
          animation: textone 4s ease-out 1.6s 1 normal;
}

.sanchez {
  -webkit-animation: texttwo 4s ease-out 3.6s 1 normal;
          animation: texttwo 4s ease-out 3.6s 1 normal;
}

.researcher {
  -webkit-animation: textthree 4s ease-out 5.6s 1 normal;
          animation: textthree 4s ease-out 5.6s 1 normal;
}

.linguistics {
  -webkit-animation: textfour 4s ease-out 7.6s 1 normal;
          animation: textfour 4s ease-out 7.6s 1 normal;
}

.neuroscience {
  -webkit-animation: textfive 4s ease-out 9.6s 1 normal;
          animation: textfive 4s ease-out 9.6s 1 normal;
}

@-webkit-keyframes cube {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  10%, 20% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  30%, 40% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  50%, 60% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  70%, 80% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  90%, 100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}

@keyframes cube {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  10%, 20% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  30%, 40% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  50%, 60% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  70%, 80% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  90%, 100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}

@-webkit-keyframes textone {
  10% {
    opacity: 0;
  }
  20% {
    opacity: 90;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes textone {
  10% {
    opacity: 0;
  }
  20% {
    opacity: 90;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes texttwo {
  10% {
    opacity: 0;
  }
  20% {
    opacity: 90;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes texttwo {
  10% {
    opacity: 0;
  }
  20% {
    opacity: 90;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes textthree {
  10% {
    opacity: 0;
  }
  20% {
    opacity: 90;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes textthree {
  10% {
    opacity: 0;
  }
  20% {
    opacity: 90;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes textfour {
  10% {
    opacity: 0;
  }
  20% {
    opacity: 90;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes textfour {
  10% {
    opacity: 0;
  }
  20% {
    opacity: 90;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes textfive {
  10% {
    opacity: 0;
  }
  20% {
    opacity: 90;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes textfive {
  10% {
    opacity: 0;
  }
  20% {
    opacity: 90;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
    to {
        opacity: 0;
    }
}

@keyframes backout {
    to {
        background: rgb(219,219,219);
    }
}

@keyframes byebye {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}
