/* SUB NAVIGATION */

#subnav, #sub-subnav {
    display: grid;
    grid-gap: 10vw;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
    padding-right: 50px;
    padding-bottom: 4px;
/*     background: var(--mainWhite); */
    margin-top: -10px;
}

#subnav div, #sub-subnav div {
    display: grid;
    width: 50px;
    align-items: center;
    justify-items: center;
}

#small-bubble, #medium-bubble, #large-bubble {
    border-radius: 50%;
    background: var(--lightBlue);
    align-self: center;
    justify-self: center;
}

#small-bubble {
    margin-top: 0px;
    width: 8px;
    height: 8px;
    max-width: 8px;
    max-height: 8px;
}

#medium-bubble {
    margin-top: 4px;
    width: 16px;
    height: 16px;
    max-width: 16px;
    max-height: 16px;
}

#large-bubble {
    margin-top: 4px;
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
}

a #large-bubble p {
    color: var(--mainWhite);
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
}

/* SUB SUB NAVIGATION */

#sub-subnav {
    padding-bottom: 10px;
    margin-top: 0px;
}

#sub-subnav p {
    border-radius: 20px;
    padding: 4px 10px;
    margin-left: -20px;
    font-size: 14px;
    color: var(--mainWhite);
    background: var(--lightBlue);
    transform: scale(0.01);
    animation: bubblepop .5s ease-out forwards;
    animation-delay: .2s;
}

header #subnav a:hover p {
    color: var(--mainBlue);
}

/* DOWNLOAD PDF */

#pdf-container {
    position: absolute;
    top: 50px;
    right: 5vw;
    display: flex;
    align-items: center;
    grid-gap: 0 10px;
    text-align: left;
}

#pdf-container a p {
    font-family: 'Advent Pro', sans-serif;
    font-size: 12px;
    color: var(--mainOrange);
}

#pdf-container a:hover p {
/*     color: var(--darkOrange); */
/*     color: black; */
}

#pdf-container:hover p {
    color: var(--darkOrange);
}

#cv img {
    width: 30px;
    height: 40px;
}

#cv:hover a {
/*     color: var(--darkOrange); */
    color: black;
}

/* MAIN */

main {margin: 170px auto 0 auto; width: 90vw; max-width: 790px;}
h1 {margin: 200px auto 40px auto;}

/* SUMMARY */

#summary {line-height: 2;}
#summary p {margin-bottom: 40px;}

#research-interests-tags {
    display: flex;
    flex-wrap: wrap;
}

#research-interests-tags p {
    padding: 4px 8px;
    margin: 0px 5px 5px 0px;
    font-size: 12px;
    background-color: var(--veryLightGray);
}

/* JOURNEY */

#journey h2 , #FAQs h2 {margin: 100px auto 40px auto;}

#journey-container {padding: 4vw; background: var(--lightBlue);}

.journey-sections {display: flex; margin-bottom: 50px;}

.journey-sections:nth-of-type(11) {margin-bottom:0;}

.journey-images2 {width: 25%;}

#journey-checklist , #journey-microscope {width: 20%; max-width: 100px;}

.spacediv {width: 10%;}

.journey-content {flex: 1;}

#medical-assistant {margin-left: 5%;}
#medical-groups {margin-left: 10%;}
#specimens {margin-left: 5%;}
#clinical-trials {margin-left: 5%;}
#comparative-medicine {margin-left: 10%;}
#science {margin-left: 5%;}
#uni {margin-left: -2%;}
#analyst {margin-left: 5%;}
#author {margin-left: 5%;}

#journey h3 {font-size: 30px; margin-bottom: 10px; color: var(--darkWhite);}
#journey p {color: var(--lightBlack); line-height: 1.5;}

/* FAQS */

.chat-container {display: flex; margin-bottom: 20px;}
.chat-img {height: 56px;}
.c-suki {justify-content: flex-start;}
.c-me {justify-content: flex-end;}

.chat-container p {
    padding: 10px;
    line-height: 2;
    color: var(--lightBlack);
}

.c-suki p {margin-left: 10px; background: var(--lightGray);}
.c-me p {margin-right: 10px; background: var(--lightBlue);}

@keyframes bubblepop {
    0% {transform: scale(0.01);}
    100% {transform: scale(1);}
}

@media all and (max-width: 420px) {
    #subnav, #sub-subnav {padding-right: 20px; grid-gap: 4vw;}
}

@media all and (max-width: 700px) {
    #summary p , #FAQs p {font-size: 16px; line-height: 2.2;}
    #journey p {font-size: 16px;}
    #journey h3 {font-size: 24px; margin-bottom: 0px;}
}