/* DOWNLOAD PDF */

#pdf-container a {
    width: 80px;
    height: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pdf-container a p {
    padding: 0;
    font-family: 'Advent Pro', sans-serif;
    font-size: 12px;
    color: var(--mainOrange);
}

#pdf-container:hover p {
    color: var(--darkOrange);
}

#cv img {
    margin: 5px 0 0;
    width: 20px;
    height: 20px;
}

/* SUMMARY */

/* #summary {line-height: 2;} */
#summary p {margin-bottom: 40px;}

#research-interests-tags {
    display: flex;
    flex-wrap: wrap;
}

#research-interests-tags p {
    padding: 4px 8px;
    margin: 0px 5px 5px 0px;
    font-size: 12px;
    background-color: var(--veryLightGray);
}

/* JOURNEY */

#journey h2 , #FAQs h2 {margin: 100px auto 40px auto;}

#journey-container {padding: 4vw; background: var(--lightBlue);}

.journey-sections {display: flex; margin-bottom: 50px;}

.journey-sections:nth-of-type(11) {margin-bottom:0;}

.journey-images2 {width: 25%;}

#journey-checklist , #journey-microscope {width: 20%; max-width: 100px;}

.spacediv {width: 10%;}

.journey-content {flex: 1;}

#medical-assistant {margin-left: 5%;}
#medical-groups {margin-left: 10%;}
#specimens {margin-left: 5%;}
#clinical-trials {margin-left: 5%;}
#comparative-medicine {margin-left: 10%;}
#science {margin-left: 5%;}
#uni {margin-left: -2%;}
#analyst {margin-left: 5%;}
#author {margin-left: 5%;}

#journey h3 {font-size: 30px; margin-bottom: 10px; color: var(--darkWhite);}
#journey p {color: var(--lightBlack); line-height: 1.5;}

/* FAQS */

.chat-container {display: flex; margin-bottom: 20px;}
.chat-img {height: 56px;}
.c-suki {justify-content: flex-start;}
.c-me {justify-content: flex-end;}

.chat-container p {
    padding: 10px;
    line-height: 2;
    color: var(--lightBlack);
}

.c-suki p {margin-left: 10px; background: var(--lightGray);}
.c-me p {margin-right: 10px; background: var(--lightBlue);}

@keyframes bubblepop {
    0% {transform: scale(0.01);}
    100% {transform: scale(1);}
}

@media all and (max-width: 420px) {
    #subnav, #sub-subnav {padding-right: 20px; grid-gap: 4vw;}
}

@media all and (max-width: 700px) {
    #summary p , #FAQs p {font-size: 16px; line-height: 2.2;}
    #journey p {font-size: 16px;}
    #journey h3 {font-size: 24px; margin-bottom: 0px;}
}