/* SUB NAVIGATION */

#subnav {
    display: grid;
    grid-gap: 10vw;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
    padding-right: 50px;
    padding-bottom: 4px;
    margin-top: -12px;
    background: var(--mainWhite);
}

#subnav div {
    display: grid;
    width: 50px;
    align-items: center;
    justify-items: center;
}

#nav-bubbles {
    margin-right: 45px;
}

#small-bubble, #medium-bubble, #large-bubble {
    border-radius: 50%;
    background: var(--lightBlue);
    align-self: center;
    justify-self: center;
}

#small-bubble {
    margin-top: 0px;
    width: 8px;
    height: 8px;
    max-width: 8px;
    max-height: 8px;
    transform: scale(0.01);
    animation: bubblepop .5s ease-out forwards;
}

#medium-bubble {
    margin-top: 4px;
    width: 16px;
    height: 16px;
    max-width: 16px;
    max-height: 16px;
    transform: scale(0.01);
    animation: bubblepop .5s ease-out forwards;
    animation-delay: .2s;
}

#subnav div #large-bubble {
    border-radius: 20px;
    margin-top: 4px;
    width: 140px;
    transform: scale(0.01);
    animation: bubblepop .5s ease-out forwards;
    animation-delay: .4s;
}

#large-bubble p {
    padding: 4px 10px;
    color: var(--mainWhite);
    font-size: 16px;
}

/* ARTICLE */

article {margin: 150px auto 50px auto; width: 90vw;}
article h1 {font-size: 40px; font-weight: 300;}
article h2 {font-size: 36px; margin-bottom: 50px; font-weight: 300;}
article p {font-size: 18px; font-weight: 300; line-height: 2; margin-bottom: 40px;}

#article-illustration {display: grid; justify-items: center;}
#article-illustration img {width: 90vw; max-width: 500px;}
#article-illustration a {margin-top: 10px; width: 50px;}

#article-body {margin: 10vw auto 0 auto; max-width: 790px;}

/* BUBBLES */

.article-bubbles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
    margin: 75px 0px;
}

.bubble-small-gray , .bubble-medium-gray {
    border-radius: 50%;
    background: var(--lightGray);
}

.bubble-large-blue {
    border-radius: 50%;
    background: var(--lightBlue);
}

.bubble-small-gray {width: 25px; height: 25px; justify-self: center; align-self: center;}
.bubble-medium-gray {width: 50px; height: 50px; justify-self: center;}
.bubble-large-blue{width: 100px; height: 100px;justify-self: center; align-self: center;}

/*END*/

.article-end {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4px;
}

.end-gray-left , .end-gray-right {
    background: var(--lightGray);
    width: 50%;
}

.end-gray-left {justify-self: left;}
.end-gray-right {justify-self: right;}

.end-blue-middle {
    background: var(--lightBlue);
    width: 80%;
    justify-self: center;
}

/* ARTICLE SUBSCRIBE */

#article-body #article-subscribe {
    margin: 50px 0 0 0;
}

#article-subscribe p {
    margin: 0;
    color: var(--midGray);
}

/* FOLLOW */

#article-follow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    height: 50px;
    margin: 0 auto;
}

@keyframes bubblepop {
    0% {transform: scale(0.01);}
    100% {transform: scale(1);}
}

@media all and (max-width: 580px) {
    #nav-bubbles {margin-left: -45px;}
    #large-bubble p {font-size: 14px;}
 }

@media all and (max-width: 420px) {
    #subnav {grid-gap: 4vw;}
    #nav-bubbles {margin-right: 15px;}
}

@media all and (max-width: 374px) {
    #nav-bubbles {margin-left: -15vw;}
}

@media all and (max-width: 700px) {
    article p {font-size: 16px; line-height: 2.2;}
}
