section {
    
}

.horizontalrows {
    width: 75%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.verticalcolumns {
    width: 8%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 3.6%;
}

.verticalcolumns i {
    top: 100px;
    left: 10px;
}

.titles {
    width: 110px;
    margin: 5px auto 50px auto;
    text-align: center;
}

#seeme {
    display: none;
    height: 25px;
    position: relative;
    top: -40px;
    left: -40px;
    color: orange;
}

#hoverme:hover + #seeme {
    display: block;
}

.verticalcolumns a:active {
    background: red;
}