body {
    background: cornflowerblue;
    color: whitesmoke;
}

.flex {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

i {
    margin: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}


.flake3 {
    position: absolute;
    top: 60px;
    left: 5%;
    animation: 8s linear 1s infinite forwards fall;
}

.flake1 {
    position: absolute;
    top: 60px;
    left: 5%;
    animation: 8s linear 2s infinite forwards fall;
}

.flake2 {
    position: absolute;
    top: 60px;
    left: 10%;
    animation: 8s linear 5s infinite forwards fall;
}


-webkit-@keyframes fall {
    0% {
        top: 60px;
        opacity: 0;
    }
    50% {
        top: 40%;
        opacity: 1;
    }
    100% {
        top: 80%;
        opacity: 0;
    }
}

@keyframes fall {
    0% {
        top: 60px;
        opacity: 0;
    }
    50% {
        top: 40%;
        opacity: 1;
    }
    100% {
        top: 80%;
        opacity: 0;
    }
}

