/* for pop up menu */

.popupmenucontainer {
    width: 350px;
    height: 400px;
    position: absolute;
    bottom: 100px;
    left: calc(50% - 175px);
    text-align: center;
    /*background: pink;*/
}

.popupmenu {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    background: salmon;
}

.popme {
    width: 110px;
    height: 20px;
    margin: 0 auto;
    text-align: center;
    background: orangered;
}

.popme:hover {
    background: orange;
}

.showme {
    width: 90px;
    height: 100px; /*100px 0*/
    position: relative;
    bottom: 130px; /*130px 30*/
    border-radius: 5px;
    background: rgb(20,20,20);
    display: none;
    opacity: 0;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease; /*can remove for no effect*/
}

.showme p {
    color: whitesmoke;
}

.showme::after {
    width: 10px;
    height: 10px;
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 2px;
    background: rgb(20,20,20);
}

.popme:hover .showme {
    display: inline-block;
    opacity: 1;
}

/* for orbiting circle */

.big, .small, .orbit:before {
  background-color: #2196F3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 100%;
  text-align: center;
  color: #fff;
}

.big {
  width: 100px;
  height: 100px;
}

.orbit {
  animation: circularPath 2s linear infinite;
}
.orbit:before {
  content: 'Hai';
  font-family: sans-serif;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

@keyframes circularPath {
  0% {
    transform: rotate(0deg) translate(100px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(100px) rotate(-360deg);
  }
}