header, footer, nav, root {
    display: block;
}

html, body, div, aside, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

h1, h2, h3, p {
    font-style: none;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

@charset "UTF-8";

header, footer {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: whitesmoke;
    background: linear-gradient(white,cornflowerblue 2%,cornflowerblue 98%,white);
}

header {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0px;
    text-align: left;
}

aside {
    text-align: center;
    color: whitesmoke;
}

#mainheader {
    font-size: 10px;
}

main {
    width: 100%;
    height: calc(100% - 120px);
    padding: 20px 0;
    background: cornflowerblue;
}

main header {
    background: cornflowerblue;
}

#columnscontainer {
    width: 600px;
    height: 520px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    background: rgba(0,0,0,0.4);
}

.taskcolumns {
    width: 180px;
    height: 480px;
    margin: 20px 0 0 0;
    display: flex;
    flex-flow: column;
    text-align: center;
    border-radius: 10px;
    color: whitesmoke;
    background: rgba(0,0,0,0.2);
}

.taskcolumns h1 {
    margin: 10px 10px;
}

.task {
    width: 140px;
    height: 80px;
    margin: 2px 10px;
    padding: 10px;
    text-align: left;
    color: black;
    background: whitesmoke;
    cursor: move;
}

.task h2 {
    font-size: 12px;
    color: grey;
}

.task p {
    font-size: 15px;
    cursor: text;
}

#ToDo h1 {
    border-bottom: 2px solid sienna;
}

#InProgress h1 {
    border-bottom: 2px solid orange;
}

#Completed h1 {
    border-bottom: 2px solid green;
}

#ToDo .task {
    background: linear-gradient(0deg,whitesmoke 95%,sienna 5%);
    /*transition: all .4s;*/
}

#InProgress .task {
    background: linear-gradient(0deg,whitesmoke 95%,orange 5%);
    /*transition: all .4s;*/
}

#Completed .task {
    background: linear-gradient(0deg,whitesmoke 95%,green 5%);
    /*transition: all .4s;*/
}
/*
#ToDo .task:hover {
    background: linear-gradient(0deg,sienna,whitesmoke 95%,sienna 5%);
}

#InProgress .task:hover {
    background: linear-gradient(0deg,orange,whitesmoke 95%,orange 5%);
}

#Completed .task:hover {
    background: linear-gradient(0deg,green,whitesmoke 95%,green 5%);
}